[2020-09-08 19:03] MikeSpreitzer commented on #796
Yes, fundamentally I am trying to use a Histogram to get information about the behavior of a thing that has a value at every point in time, by sampling that thing more frequently than I can rely on scraping to happen.

BTW, I noticed that I forgot to be precise about the update to X.  At the time of a change to X, it is the old value of X that is given to Observe.

And yes, I have a background pro

[2020-09-09 14:02] beorn7 commented on #796
That totally makes sense, and I should have seen that before. Revised timeline:

- t=-10s: X changes to 1971. `Observe` isn't called yet as this is the 1st change detected,.
- t=0s: X changes to 42. `Observe(1971)` gets called 10,000 times according to your formula above.
- t=5s: Endpoint gets scraped by a Prometheus server.
- t=15s: Endpoint gets scraped by the same Prometheus server again.
- t=2

[2020-09-09 14:08] beorn7 commented on #733
I'll close this for lack of follow up.

The possibility of hash collisions remains a known issue tracked in #222 .

[2020-09-09 14:08] #733 closed

[2020-09-09 14:13] beorn7 commented on #794
Closing this for lack of follow-up. I'm assuming for now that my reasoning above is correct.

Please follow up on this issue if you have to present contrary evidence.

In particular, if serving metrics on non-GET methods is really a problem, I'd like to know because then I can at least warn about it in the doc comment.

[2020-09-09 14:13] #794 closed

[2020-09-09 14:30] beorn7 commented on #801
It's is actually recommended to use POST for the query and query-range endpoints because it avoids complications with length restrictions of the URL. (PromQL queries can become quite long.)

Maybe Trickster or Thanos don't support POST requests for those endpoints?

But even then, the HTTP client should transparently fallback to GET. Perhaps something doesn't work as intended with the fallback.

M

[2020-09-09 17:22] joe-elliott commented on #801
`DoGetFallback` relies on the server returning a 405.  @kayrosik can you confirm what status code the POST is returning?  My guess is that `Error querying Prometheus: bad_data: cannot parse "" to a valid timestamp` is a 400.

Also guessing that error is returned by Trickster based on the text, but it would be nice to confirm.

[2020-09-09 22:19] lavalamp commented on #796
When I filed this I wondered if it would be better to have a hook that made the "observations" (if any were needed) when the metric was read. I think it would still lead to the same feature request?

In our case, we have N of these thingies (with different labels, I think?), and we expect many of them to be changing often, but a few of them to possibly change infrequently.

[2020-09-09 22:44] MikeSpreitzer commented on #796
The changes happen at unpredictable times.  Some of these variables have very frequent changes, and frankly those are the ones that motivate this request.  But the changes are not at regular intervals.  It really is a matter of making do with the available instrumentation to get what reading we can about a fast-varying variable.

[2020-09-10 00:04] MikeSpreitzer commented on #796
@beorn7 : I think you have characterized the use case too narrowly.  In the use case that @lavalamp and I have, there are several of these variables and the timing of their updates is very usage-dependent and thus impossible to predict.  It is possible that for some variable there are some sampling periods with several updates; it is possible that for some variable there could be intervals much lo

[2020-09-10 02:53] MikeSpreitzer commented on #796
BTW, we use vectors of these.  Sadly, the vector support in prometheus is not public.

[2020-09-10 09:40] kayrosik commented on #801
Status-code is 400

[2020-09-10 11:00] beorn7 commented on #801
OK, that explains it then. Thanks @joe-elliott for the catch.

@kayrosik I recommend to file an issue with Trickster to either support POST (as it is recommended anyway) or return a 405 so that the client will properly retry.

[2020-09-10 11:00] #801 closed

[2020-09-10 16:19] beorn7 commented on #796
Indeed. In fact, it used to be public for a while, but nobody every used it (at least not in open-source repositories I searched). But now we have a fine use case for them. Please have a look at #803 .

[2020-09-12 05:26] MikeSpreitzer commented on #796
So I am pursuing the new abstraction approach in https://github.com/kubernetes/kubernetes/pull/94672 .  But this thing dumps its data into a Histogram, so I still need the generalization of Histogram::Observe to take a count parameter.

[2020-09-14 18:00] beorn7 commented on #796
So yeah, I think the problem is that an `ObserveNTimes` function would really pollute the namespace in client_golang as it is essentially an internal function, i.e. if the `SamplingHistogram` from https://github.com/kubernetes/kubernetes/pull/94672/ proves to be useful for others, too, we will just move it into client_golang, and then the code can use the histogram code internally and no exported

[2020-09-25 03:52] sbookworm commented on #760
@SuperQ @beorn7 thanks, Let me try.

[2020-10-09 12:08] sbookworm commented on #760
@SuperQ  sorry to bother, :)
my action:
1, create a new branch
2, changed the code and commit
3, git push origin my_branch_name

facing ERROR: Permission to prometheus/client_golang.git denied to sbookworm.
Should I apply the access for submitting code?

[2020-10-09 12:20] beorn7 commented on #760
You have to fork this repository and work in your own fork. From there, you can create a PR for this repo.

You could search for tutorials how to contribute to OSS projects on GitHub. For example, https://parbhatpuri.com/git-workflow-to-contribute-to-an-open-source-project.html might be a good starter (just googled that, did not check if it is particularly good).

[2020-10-10 00:43] sbookworm commented on #760
@beorn7 thanks very much :)

[2020-10-10 08:58] sbookworm commented on #760
https://github.com/prometheus/client_golang/pull/804
please help review, thanks :)

[2020-10-15 10:47] hatamiarash7 opened #805 "Ignore unsupported charsets"
We have many problems with **non-english** users. They used some texts in projects that isn't UTF-8 for example Russian.

[code]

Is there any way to ignore this panic or replace non-english string with another one like _Unknown_ ? It does not make sense for us to **add exception for all collectors in many projects**.

---
**GO** : 1.14
**client_golang** : v1.2.1

[2020-10-15 16:15] beorn7 commented on #805
Prometheus doesn't support invalid UTF-8 in label values, and thus client_golang doesn't allow it, either.

However, all unicode characters can be represented in UTF-8, and therefore it is not restricted to English. There should be a library somewhere to convert a string from whatever encoding you are using into UTF-8. I recommend to use such a transcoding.

[2020-10-17 13:59] hatamiarash7 commented on #805
Yes, I can. But we should do the same thing for many projects or collectors. And other people may have the same problem.
It would be great if such a feature could be placed in the library

[2020-10-17 16:57] ArthurSens commented on #805
I think that abstracting the conversion from whatever encoding to UTF-8 is not a good option.

If the user creates a metric/label named "X" he will expect that "X" is exposed, but will then find something completely different after the conversion. If the application/exporter exposes multiple metrics, it will be really hard to identify each metric.

[2020-10-17 17:01] hatamiarash7 commented on #805
@ArthurSens So what is your suggestion? What should we do in these situations?

[2020-10-17 17:28] ArthurSens commented on #805
For now, just like @beorn7 said. The users should handle the conversion themselves, as it gives them more control over their own metrics. But from what it looks like, you don't have control over the label names? You gather info from third-parties and give them back as metrics?

I guess that would be a problem as those third-parties will also see labels with names they don't expect, right? I don't

[2020-10-18 16:43] juliusv commented on #805
Yeah, it doesn't make sense to support other encodings in Prometheus itself, since UTF-8 can represent all characters from the other encodings and is the most standard one. So all you need to do is a conversion to UTF-8 before sending data to Prometheus.

[2020-10-19 10:03] beorn7 commented on #805
Indeed, I see no point in adding non UTF-8 support to the Prometheus server itself. It's the whole point of UTF-8 to not require every piece of software in the world to support every text encoding in the world. UTF-8 is also baked quite deeply into the Prometheus server. For example, there are bytes that can never occur in valid UTF-8, and they are used internally as marker bytes to separate UTF-8

[2020-10-19 10:03] #805 closed

[2020-10-19 15:25] mrueg opened #807 "Add TLS support to API client"
I tried using the client_golang API client, unfortunately it seems to have no support for TLS and client certificates.
Are there any plans to add this functionality or is the idea to overload RoundTripper to get it supported?

[2020-10-20 10:39] beorn7 commented on #807
Things should work out of the box if you just want to access an `https://...` URL. If you want to use TLS client certificates, you indeed have to provide your own `http.RoundTripper` in https://pkg.go.dev/github.com/prometheus/client_golang@v1.8.0/api#Config . https://golang.org/pkg/net/http/#Transport is the usual `http.RoundTripper` implementation from the standard library. In there, you can set

[2020-10-20 10:39] #807 closed

[2020-10-23 09:55] #760 closed

[2020-10-27 06:03] benitogf opened #810 "prevent metric scraping before synching state"
if a metric depends on a persisted state its possible that it shows the zero value while its synced, and this could be scraped giving a wrong read to such metric, I'm using a middleware to prevent this from happening:

[code]

is there a better approach? would be nice to include an example on this scenario

[2020-10-28 13:32] beorn7 commented on #810
Note that returning a 5xx on the metrics endpoint will make the whole target appear as "down" (i.e. `up==0`) from the Prometheus point of view. If the only task of your binary is to server those metrics (that you have to sync), i.e. if it is essentially an exporter, I would say you should only start serving any HTTP requests once you are done.

If you have other metrics to serve as well, how about

[2020-10-28 13:32] #810 closed

[2020-10-29 03:02] benitogf commented on #810
This makes sense, but having persistence outside of TSDB for the exporters allow more control on when the counters are restarted, e.g.

![image](https://user-images.githubusercontent.com/1633813/97518989-5f253580-19d3-11eb-9d1f-94e920d3943f.png)

even if the exporter application is restarted the counter will keep the value, I would guess that this is not such a niche use case since I have found it

[2020-10-29 10:52] beorn7 commented on #810
There are, sadly, many "commonly used" communication channels. We cannot serve all of them with the resources we have available. That's why we asks those that want to use those resources to use them in the way most feasible for those donating those resources. Not doing us that little favour seems unfriendly to me.

The mailing list, BTW, is also open to discussion about the choice of communication

[2020-11-02 14:37] beorn7 commented on #765
Hasn't happened in a while. Will close this (although a proper solution would be better of course).

[2020-11-18 14:21] roidelapluie opened #815 "Add /metrics?format=openmetrics"
When debugging exemplars, I'd like to do it straight from the browser. Therefore a ?format=openmetrics would be awesome.

[2020-11-18 18:20] beorn7 commented on #815
Oooooof, is there really no better way? Like some dev tool in the browser that lets you pick the content-type header?

Content negotiation is there precisely for the reason to not require HTTP parameters for it.

I just use `curl -H 'Accept: application/openmetrics-text' localhost:8080/metrics` for debugging. If `curl` can do it, then your browser should be able to, too?

[2020-11-18 20:35] roidelapluie commented on #815
Not easily. Can we default to openmetrics for browsers? (accept = */*)

[2020-11-18 20:46] brian-brazil commented on #815
Per a previous dev summit, the standing plan is to switch the default exposition to OM a year after warning potential consumers to give them time to set appropriate Accept headers.

I don't think it'd be wise to have different behaviour between wget/curl and browsers. There are various browser extensions that allow setting HTTP headers.

[2020-11-18 20:48] roidelapluie commented on #815
OK

[2020-11-18 20:48] #815 closed

[2020-11-25 10:32] vulcanfan opened #818 "Dependency failures on build"
Hi,

I'm having trouble incorporating this client library into my own application.  Go build generates the dependency error pasted below.

I'm using Go 1.13 on CentOS7, the application uses modules and I included in the import () section the following:
[code]
Building gave these errors:

[code]

Can someone please point me in the right direction to resolve?

Many thanks

[2020-11-26 17:35] beorn7 commented on #818
Does anyone else see this?

It seems a problem further down the dependency tree. I'm curious if/why that's affecting many users or just you in your specific set up.

[2020-11-26 17:44] brian-brazil commented on #818
We've had reports of this in other repos, I'm guessing there's something odd in either the casbin or govaluate git repo.

[2020-11-26 17:49] brian-brazil commented on #818
I do note that all of the other reports are on CentOS and/or RHEL. So it'd probably something to do with their version of git.

[2020-12-02 18:53] beorn7 opened #820 "More powerful and more customizable MultiError"
The ad-hoc `prometheus.MultiError` implementation doesn't support the new goodies from the standard `errors` package. It also formats into a multi-line error string, which is undesired by some users.

Both could be solved by replacing it with something like https://github.com/hashicorp/go-multierror , which allows customizable formatting. However, it would break existing users and therefore has to

[2020-12-04 11:15] AlekSi opened #822 "promhttp instrumented handler hangs with the invalid metric name"
https://github.com/prometheus/client_golang/blob/47cfdc9bb8ceaf18b12a4b7ba778b06e12d1a97a/prometheus/promhttp/instrument_server.go#L228-L232
This code does not check what error is returned. If an invalid metric name is passed, the process consumes all memory and is killed by the OOM killer.

I found it when I passed sub-test's `t.Name()` as a part of the metric name: `/` can't a part of the metric

[2020-12-09 19:17] #822 closed

[2020-12-12 17:50] bboreham opened #824 "Pusher defaults to `FmtProtoDelim` which is obsolete"
Default is here:
https://github.com/prometheus/client_golang/blob/8b73bd904c6b7929b7dcaefea4fbcc9c7a439449/prometheus/push/push.go#L112

Protos declared to be no longer supported here: https://github.com/prometheus/docs/blob/33f891f6b8392aead6089bfe388e07b1ee2cde14/content/docs/instrumenting/exposition_formats.md#exposition-formats

[2020-12-14 17:27] beorn7 commented on #824
The Pushgateway is still following the "old faith" of building everything around the protobuf as the data model. So in fact, the Pushgateway prefers to receive the pushed metrics in protobuf format. Not using it would mean that prometheus/client_golang jumps through hoops to convert protobuf to text format to send it out to the wire. And then the Pushgateway is performing the inverse of all those

[2020-12-14 18:07] BentCoder opened #825 "No way to clear/wipe/refresh metrics in tests with testutil before calling CollectAndCompare fucntion"
Hi,

Is there any way to clear/wipe/refresh metrics (or any workaround) before calling `CollectAndCompare` for example? Current tests are failing because metrics are growing as I run tests.

Thanks

**Collector**
[code]

**Tests**
[code]

[2020-12-14 20:29] bboreham commented on #824
I cannot see how you reconcile this with the statement “As of version 2.0, however, Prometheus no longer supports the Protobuf-based format”.

Maybe add a rider saying it is still the preferred format for certain components?

[2020-12-15 01:24] beorn7 commented on #824
Yeah, the distinction between "Prometheus the ecosystem" and "Prometheus the metrics collection server" is not always clear.

The version 2.0 kind of gives it away that this sentence refers to the server. The ecosystem as a whole isn't versioned. (o:

Perhaps that paragraph can be updated to make clear it refers to scraping by the Prometheus server.

[2020-12-15 10:57] st4nson commented on #825
Hi, `MyCounter.Reset()` should do the trick.

[2020-12-15 12:17] #825 closed

[2020-12-23 14:24] beorn7 commented on #818
I assume there is nothing we can do here in this repo. Therefore, I'll close this issue. Feel free to add information here if you know a work around or have a status update WRT casbin, govaluate, CentOS and/or RHEL

[2020-12-23 14:24] #818 closed

[2020-12-29 08:11] bluesky1024 opened #827 "how to set buckets adaptively?"
version:  tag 1.9.0 /2020-12-17
as the [example/random](https://github.com/prometheus/client_golang/blob/85aa957f631d2e252dade63ca7138946197a772c/examples/random/main.go#L59) shows, the Buckets of Histogram is pre set before the service running.
[code]
However, the distribution of histogram is unknown in most scenarios.

the default buckets is given as [[]float64{.005, .01, .025, .05, .1, .25, .5,

[2020-12-29 09:54] bwplotka commented on #827
Hello 👋🏽

At the current moment, buckets are pre-set for the process and you cannot change them after metric creation. Of course you can create a new metric and replace the old one, but this will break the histogram time series continuation and thus it will be hard to query/understand. However, doing this during initial adjustments for buckets is totally ok. The aim is to have buckets stable over

[2020-12-29 09:54] #827 closed

[2020-12-29 11:17] bluesky1024 commented on #827
thanks for your reply

[2020-12-29 14:42] beorn7 commented on #827
Shameless plug: You could watch my "histogram trilogy of talks":

1. https://fosdem.org/2020/schedule/event/histograms/
2. https://promcon.io/2019-munich/talks/prometheus-histograms-past-present-and-future/
3. https://www.youtube.com/watch?v=HG7uzON-IDM

[2020-12-30 13:45] hairyhenderson opened #829 "Go metrics go_memstats_alloc_bytes and go_memstats_alloc_bytes_total collide in OpenMetrics and are still both exposed"
I received a bug report https://github.com/caddyserver/caddy/issues/3940 which seems to be caused by 2 metrics exposed by the Go collector: `go_memstats_alloc_bytes` and `go_memstats_alloc_bytes_total` - in effect, these names seem to be ambiguous with respect to the OpenMetrics "magic" `_total` suffix.

This _seems_ to be related to https://github.com/prometheus/common/issues/253#issuecomment-688

[2020-12-30 14:23] brian-brazil commented on #829
Your issue here is that you tried to parse Prometheus text format with the OpenMetrics parser, so there is no bug here.

However, one of these will need a rename when client_golang gains full OpenMetrics support in a future version.

[2020-12-30 16:31] hairyhenderson commented on #829
🤔 My impression was that setting the `Accept: application/openmetrics-text; version=0.0.1` header when the `promhttp.HeaderOpt` `EnableOpenMetrics` option is set to `true` would produce output in the OpenMetrics text format (the `Content-Type` response header certainly implies it).

Looks like the python client isn't relevant to this issue - seems the Go parser behaves the same way:

Here's some t

[2020-12-30 17:14] brian-brazil commented on #829
That code example is using the Prometheus text format parser with OpenMetrics input, which can also run into issues. This still doesn't indicate a bug, as you're conflating the two formats.

[2020-12-30 17:30] brian-brazil commented on #829
While your examples don't directly demonstrate it, there is an issue there in the OpenMetrics output:

[code]

as there's a repeated metric family name.

[2020-12-30 20:10] hairyhenderson commented on #829
Ah - I think I follow... `common/expfmt`'s `TextParser.TextToMetricFamilies` is parsing for Prometheus format explicitly? My impression was that it would parse according to the OpenMetrics rules given OpenMetrics negotiation.

Is there a Go equivalent for the python `prometheus_client.openmetrics.parser`? I presume _that_ is an OpenMetrics-format parser?

Also, to answer my earlier confusion about

[2020-12-30 20:46] brian-brazil commented on #829
Yes. A full Go OpenMetrics parser has yet to be written.

Kinda, trying to parse one format as another format isn't exactly wise and something else may break instead. The original report would have failed for other reasons for example, as typical Prometheus format output is not valid OpenMetrics output..

[2020-12-31 21:28] beorn7 commented on #829
Parser shenanigans aside, the actual issue here is that the standard metrics exposed by the Go collector are fine with the old Prometheus formats, but run into a known issue with OpenMetrics: Since OpenMetrics shaves off the `_total` from a counter's name when it comes to the metric family name, there is a collision if there is also a gauge with the same name as the counter's name without the `_to

[2020-12-31 21:47] brian-brazil commented on #829
We could for now always expose counters as unknown for OM, or being smarter about when we have them as counters rather than unknown.

[2021-01-02 18:27] beorn7 commented on #829
It made me quite happy that finally tools like Grafana start to make use of metadata in tooltips etc. Obfuscating counters as unknown is not ideal for them.

[2021-01-04 09:37] brian-brazil commented on #829
There is the option of only to switching to unknown if there is a collision.

[2021-01-04 10:05] beorn7 commented on #829
Yes, that's what I had in mind. It's still not ideal… :disappointed:

[2021-01-04 10:17] brian-brazil commented on #829
Yeah, but I think it's the best we can do currently.

We might also want to decide on a new name for one of the metrics now and implement it as a duplicate, as that'll make the future transition easier. alloc->allocated maybe?

[2021-01-06 00:50] xin-au opened #830 "Feature: to add label when call ObserveDuration"
Hi all
Happy New Year!
Wondering is that possible to add or append a label when calling ObserveDuration.
For example, if we would like to measure the latency for different HTTP codes, and that code is only available after processing it.
Thanks!

[2021-01-06 13:00] beorn7 commented on #830
If I understand you correctly, that's precisely the use case described in this example: https://pkg.go.dev/github.com/prometheus/client_golang@v1.9.0/prometheus#example-Timer-Complex

In general, it makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more peo

[2021-01-06 13:00] #830 closed

[2021-01-17 23:09] 1a1a11a commented on #716
@beorn7 GitHub is easier to find for someone not on the mailing list and benefits more people

[2021-01-20 09:40] changwk opened #832 "result"

[2021-01-20 09:41] #832 closed

[2021-01-25 13:35] beorn7 commented on #820
Also, check what flavors of multi-error other parts of the Prometheus ecosystem are using.

[2021-01-25 13:42] bwplotka commented on #820
I moved our Prometheus multi error to separate module so it's easy to use. The plan would be to use that on Promeheus too.

It's here: https://github.com/efficientgo/tools/tree/main/core/pkg/merrors

Do you think it would be easier to just focus on one? I used same formatting. We could think of customizing formatting. I think can allow this. WDYT?

[2021-01-25 13:44] beorn7 commented on #820
To keep things in scope of this issue: We can only change the MultiError in client_golang when we bump the major version. That won't happen tomorrow, so I'd say just do whatever is best for the MultiError in a more general Prometheus (or even wider) context. Once we get to solving this issue here, we'll just check if it it a fit (which I assume it will).

[2021-02-03 01:12] jeeftor commented on #716
@1a1a11a - Fully agree with this

[2021-02-04 15:10] beorn7 opened #834 "Enable deletion of metrics from a vector based on partially specified labels"
In most cases, users of a metric vector are well aware of the label combinations for which metric children have been created in the vector. And they should be, because unpredictable label values often go along with unbounded cardinality. However, there are legitimate use cases where tracking the used label names is hard. (This could merely be a code maintenance problem, e.g. a HTTP counter partiti

[2021-02-04 15:27] pstibrany commented on #834
Thank you for writing up this issue, and suggesting some workaround.

We have the same problem in https://github.com/cortexproject/cortex/pull/3784, where we put user-controlled `cluster` into the label values without tracking it elsewhere, and using `DeletePartialMatch` (my preferred solution, it seems easiest to understand) or "wildcard label name" would work nicely.

Until that is available, so

[2021-02-09 11:35] Josca opened #836 "Vulnerable dependency gogo/protobuf (CVE-2021-3121)"
Git versions:
- v1.9.0 (d89cf5a)

https://nvd.nist.gov/vuln/detail/CVE-2021-3121
"An issue was discovered in GoGo Protobuf before 1.3.2. plugin/unmarshal/unmarshal.go lacks certain index validation, aka the "skippy peanut butter" issue."
[code]
https://github.com/prometheus/client_golang/blob/d89cf5af8849fcb6d69f2c16bdf3b910e03d341e/go.sum#L76

[2021-02-10 16:22] beorn7 commented on #836
The `go.sum` file contains a lot of modules (and old versions thereof) for dependency tracking. Those lines are unlikely to ever disappear from the `go.sum` file.

However, this module doesn't use any code from github.com/gogo/protobuf, neither directly nor indirectly.

(In different news, IIUC CVE-2021-3121 correctly, the problematic part is the generated code, which you could even use without no

[2021-02-10 16:22] #836 closed

[2021-02-12 15:19] muety opened #837 "Conditional collecting based on HTTP header"
I'm happily using Prometheus for quite a while, however, I'm not too experienced with instrumenting applications. Also, my use case might be a bit special.

I have a multi-user "time-tracking" application and I want to offer every user the ability to retrieve their data as Prometheus metrics. For instance there will be, among others, a counter metric `myapp_seconds_total{project}`.

Now, is there

[2021-02-12 15:52] beorn7 commented on #837
Broadly, you are asking for #135 . That issue also discusses "dynamic" collection as it is done in the [node exporter](https://github.com/prometheus/node_exporter).

You could follow a similar pattern as the node exporter, just using the bearer token instead of a URL parameter.

What you ask about passing parameters down the `Collect` method is a bit disputed, but I'm fairly certain that the next

[2021-02-12 15:52] #837 closed

[2021-02-12 15:59] beorn7 commented on #796
The related PR https://github.com/kubernetes/kubernetes/pull/94672 has entered the "rotten" state by now. My offer to help has not been responded to so far, so I'm now closing this issue, too. I'm still happy to help, just let me know.

[2021-02-12 15:59] #796 closed

[2021-02-12 19:48] MikeSpreitzer commented on #796
Yes, I would like to get to this.  Just a little swamped right now.

[2021-02-17 18:59] xyluet opened #838 "const metric: inconsistent label cardinality with curried variable labels"
I just started research about custom exporter, sorry for bad issue title.

[code]

[code]

I can just make 2 gauge vecs, but why it didn't work?

[2021-02-19 19:04] beorn7 commented on #838
You are not generating a descriptor with constant labels. So you either have to pass the label when creating the constMetric, or you have to create a descriptor with constant labels.

For the former, do something like `ch <- prometheus.MustNewConstMetric(c.idleDesc, prometheus.GaugeValue, idle, "idle")`

For the latter, create the descriptor with `prometheus.NewDesc("app_status_count", "help", nil

[2021-02-19 19:04] #838 closed

[2021-02-23 15:45] Javirln opened #840 "Graph annotations"
Hello all,

I was wondering if the creation of annotations was something possible through the client API.

![Screenshot 2021-02-23 at 16 44 40](https://user-images.githubusercontent.com/4128269/108868363-6e6d6600-75f6-11eb-9503-120603e23b90.png)

Thank you so much!

[2021-02-26 13:17] beorn7 commented on #840
The HTTP client in this repo is for the [Prometheus HTTP API](https://prometheus.io/docs/prometheus/latest/querying/api/). I don't see how that's related to Grafana annotations.

[2021-03-02 08:09] Javirln commented on #840
@beorn7 Totally right, I mixed it and realised after submitting the issue. I'll close the issue, thanks!

[2021-03-02 08:09] #840 closed

[2021-03-08 17:26] mknyszek opened #842 "Use runtime/metrics package for metrics collection in Go 1.16+"
Following up from https://groups.google.com/g/prometheus-developers/c/FyRu5C4Yqzo.

I would like to modify the Go Prometheus client to use the new [runtime/metrics package](https://golang.org/pkg/runtime/metrics/) introduced in Go 1.16. The new package:
- Supersedes existing APIs like `runtime.ReadMemStats` and `runtime.NumGoroutine`, merging them into one API.
- Provides human-readable descriptio

[2021-03-09 20:58] beorn7 commented on #842
That's great.

However, we have to be careful with changing the existing metrics. (Adding metrics is mostly harmless. And changing the help string of existing metrics is probably also acceptable. )

Since this library is used so heavily, even minor changes usually come with a lot of fallout.

Let's see how much deviations will happen. From the above, I'd assume that essentially all the `go_...` me

[2021-03-10 23:45] mknyszek commented on #842
Can you clarify this? The number of added metrics would be exactly what you see at https://golang.org/pkg/runtime/metrics/ so I assume you mean something else. Or, if you mean just changing the underlying implementation but not the exposed metrics, I'm OK with that for now.

Here's an idea: what if we expose all the same values as today as they are, but let any new metrics that don't fit into that

[2021-03-11 12:47] beorn7 commented on #842
Yeah, but you also said: “The set of available metrics will grow over time, and more metrics will magically appear in everyone's dashboards.” That was the point where I made a mental not like "before we merge this, let's reflect on the number of metrics that we can expect to be added in this way". I assume it won't be a massive amount, and we are probably fine. It's still something to keep in mind

[2021-03-11 15:01] mknyszek commented on #842
Ah hah, I understand.

Just to set expectations, this is my current best guess: I'd expect maybe 1 or 2 new metrics to be added in each Go release on average (so 1 or 2 every 6 months) with this eventually flattening out to zero, save for major changes to the runtime which are somewhat unpredictable. The runtime changes a lot over time, but usually not in a way that suggests a new metric. We'll pr

[2021-03-11 16:40] beorn7 commented on #842
That sounds all mostly harmless.

Yes, please.

[2021-03-17 12:59] beorn7 commented on #267
Update to current state of the art: Blackbox exporter is solving this with a new custom registry per scrape, see https://github.com/prometheus/blackbox_exporter/blob/master/main.go#L127 .

Also, see discussion [starting here](https://github.com/prometheus/client_golang/issues/228#issuecomment-475214970) about passing a context down to collectors. Those could be used to pass down _anything_ (for be

[2021-03-18 15:43] lledey opened #847 "Desc not exposed in GaugeVec"
**TL;DR**: GaugeVec doesn’t expose its `*Desc`, I can’t do error handling with `NewInvalidMetric` in my custom collector

Hi!

I’m running into some issues when trying to use a GaugeVec and a custom Collector.

Some of the metrics I’m sending are heavy to compute, so I implemented a custom collector to be able to control when the metrics are sent (every hour, every day,…) instead of sending them e

[2021-03-21 18:44] beorn7 commented on #847
`GaugeVec` has a `Describe(chan<- *Desc)` method. It's a bit clunky for your use case, but you can use it to retrieve the Desc.

[2021-03-22 13:53] lledey commented on #847
True, didn't think about that! I'm not sure if `Collect` can be called before `Describe` though, but it feels very hacky anyway.

I believe the true fix would be to expose a `Desc` method like in `Gauge` and the other types. How would you feel about that instead?

[2021-03-23 17:40] Pryz commented on #842
While more work for the end user, have you thought about exposing an additional (and optional) collector in its own package that people could opt-in ?

This way you could imagine that `goCollector` stays with `runtime` + `runtime/debug` while the new one (e.g: `goMetricsColelctor`) could be based on `runtime/metrics` and auto-magically export new metrics as they come.

[2021-03-23 17:59] mknyszek commented on #842
I considered it, but to put it bluntly I'm not sure it buys you that much. In terms of compatibility, the addition of new metrics I figure should be totally fine (as long as the old names are still there). In terms of maintainability, the project still needs to maintain two `goCollector` implementations. If the new one is the default, the old one can (maybe) eventually get dropped in a backwards-i

[2021-03-23 18:58] beorn7 commented on #847
The `Desc` method is part of the `Metric` interface, i.e. a single metric child, producing a single metric with the `Write` call and therefore returning exactly one `Desc` via the `Desc` method. All the various XxxVec types are implementing `Collector`, though. They return a variable number of `Metric`s and therefore _may_ return more than one `Desc` (or even zero, FWIW).

Special-casing a `Collec

[2021-03-24 09:50] lledey commented on #847
I don't get it.

Implementing and using a custom collector may not be the most usual use-case, but I can't believe it's an edge-case either. And even though it was an edge-case, half of the lib is unusable here, which is an issue.

Looking at the implementation of every XxxVec collectors (`GaugeVec`, `CounterVec`, `SummaryVec`, `HistogramVec`), they all create a new `Desc` and share it in the unde

[2021-03-24 12:56] beorn7 commented on #847
All you need is a three-liner:

[code]

I wouldn't call that "half of the lib is unusable here".

I also didn't call custom collectors unusual, but requiring to extract the `Desc` from one of the pre-defined vector types is unusual.

More generally, we seem to have different opinions of consistency and what's a burden for the users. That's fine, people can have different opinions. I tried to expla

[2021-03-24 12:56] #847 closed

[2021-03-24 13:11] lledey commented on #847
Thanks for the answer. I realize my tone wasn't nice, I apologize for that. I guess part of it was a misunderstanding and some frustration that after 2 back and forth I felt things weren't moving forward. Again sorry about that.

I was gonna write this message even without your answer, but thanks for the help and the snippet, we'll probably make things work this way 🙏

[2021-03-25 17:48] beorn7 opened #850 "Document implications of negative observations for Summaries and Histograms"
tl;dr: If the `Observe` method is ever called with a negative value, the sum of observations goes down. With the right (un)lucky timing of scrapes, this will lead to a `..._sum` time series in Prometheus that doesn't behave like a counter anymore.

Historically, there have been different ideas among the Prometheus developers how to deal with that. See https://github.com/prometheus/prometheus/issue

[2021-03-25 17:51] beorn7 commented on #850
Since this applies to all client libraries, I guess it makes most sense to write some generic documentation in prometheus/docs and link to it from each client library.

[2021-03-26 08:30] ckahi opened #851 "support subquery in http api?"
does it support  subquery in http api?

curl -s 'http://ip:9090/api/v1/query_range' -d 'start=1616580000&end=1616587200&step=1s&query=max_over_time(deriv(rate(distance_covered_meters_total[1m])[5m:1m])[10m:])'

{"status":"error","errorType":"bad_data","error":"parse error at char 60: range specification must be preceded by a metric selector, but follows a *promql.Call instead"}

[2021-03-26 08:47] #851 closed

[2021-03-26 14:44] epsteina16 opened #852 "Using push library to push to InfluxDB 1.8 (or other Prometheus remote write APIs besides the pushgateway)"
Does the push library support writing to remote write APIs besides the pushgateway?

I am interested in using it to write to InfluxDB 1.8, but without any advanced configuration I get a 404 error "database not found "prometheus/metrics/job/test". It looks like the push code appends the job and metrics info to the POST request URL making it look like http://localhost:8086/api/v1/prom/write?db=prome

[2021-03-31 19:52] beorn7 commented on #852
The InfluxDB `/api/v1/prom/write` endpoint receives the Prometheus remote write protocol. That's very different from anything dealt with here in prometheus/client_golang. This repo is about exposition. The `push` package is about pushing metrics specifically to [the Prometheus Pushgateway](https://github.com/prometheus/pushgateway).

The Prometheus remote write protocol is used by the Prometheus s

[2021-03-31 19:52] #852 closed

[2021-03-31 19:55] beorn7 commented on #850
https://prometheus.io/docs/practices/histograms/#count-and-sum-of-observations is the link to use

[2021-04-10 19:06] bwplotka opened #854 "feature: exemplar support for promhttp"
## Problem Statement

I am building HTTP client and server instrumentation for both metrics and tracing, but it's currently hard/impossible to compose both using `promhttp`

This will become more and more "normal" so wonder if there a good way to extend `promhttp` to Instrument with Exermplars. Right now I have to do things on my own:

[code]

## Proposal

Maybe something similar to `promauto.With

[2021-04-10 19:50] bwplotka commented on #854
Actually better idea would to add

[code]

(and same for counter and gauge)

That would solve most of the cases (:

[2021-04-10 23:12] beorn7 commented on #854
Would be nice to have an easy way using exemplars with the instrumentation tools in `promhttp`. But I'm not sure how your 2nd idea would help. How do you inject a trace ID in that case? I guess the user needs to provide a function to dynamically determine the labels (like a trace ID) and perhaps also control sampling (so that you could decide to add an exemplar only every 10th request or for "inte

[2021-04-10 23:19] bwplotka commented on #854
You are right 2nd idea is bad, I forgot you need a dynamic thing and the following might be too crazy:

[code]

I thought about it, and I don't think sampling is needed 🤔 If you choose to have exemplars, it might be ok to add all of them on each observation/increment. User can choose which metric to have with exemplar, but once they do they won't be able to choose per sampling/code/method. I wonde

[2021-04-12 12:48] beorn7 commented on #854
I'm thinking about high-frequency observations. The `Observe` call is designed to be as fast as possible while staying concurrency-safe. Calling `ObserveWithExemplar` is already much more work than just calling `Observe` (I'd guess most of it due to allocating the Exemplar DTO). And then there is possible work on the caller's side, like retrieving the trace ID.

The proposed function could just ha

[2021-04-21 13:45] PatMis16 opened #858 "Build fails go_commector.go:388:15"
I am trying to build a project of mine with an action on gitub. The Project github.com/PatMis16/promalert2bmctsom uses the prometheus client. The last line of the build which fails is:

 ../../prometheus/client_golang/prometheus/go_collector.go:388:15: undefined: debug.ReadBuildInfo

I am not 100% sure if this causes the build to fail. However, it is the last line and a point to start.

[2021-04-21 21:02] beorn7 commented on #858
debug.ReadBuildInfo was introduced to Go in Go 1.12. I assume you are using an earlier Go version.

Note that prometheus/client_golang requires at least Go 1.13.

[2021-04-22 07:36] PatMis16 commented on #858
Got it. My build workglow used Go 1.11. Changed it, now it works.
Thank you very much!

[2021-04-22 07:36] #858 closed

[2021-04-23 12:36] HelloWorld3031 opened #860 "Sorting, filtering and pagination via golang client"
Hi,

I'm new to this eco system. I have a simple question.
Using the golang client, could we send the queries which contain sorting, filtering and pagination params to the Prometheus server? or should we query the data as a whole and do these operations locally?

Thanks for your time.

[2021-04-26 18:53] xaionaro commented on #203
Could you elaborate on this, please? What if I want to remove a metric and re-add it with other labels?

[2021-04-26 21:00] beorn7 commented on #203
That's not possible by design. The idea is that one and the same binary, during its lifetime, never exposes metrics that are inconsistent with each other.

[2021-04-26 22:04] beorn7 commented on #860
I'm pretty sure the API client doesn't support sorting, filtering, and pagination. But I'm not an expert for the API client, despite maintaining it. Perhaps @yeya24 as the most active recent contributor knows better or has opinions how to do this.

Generally, usage questions are best asked via the community channels rather than in a Github issue: https://prometheus.io/community/

[2021-04-28 20:22] xaionaro commented on #203
@beorn7 : Sorry, I just do not follow, why not to clean-up `dimHashesByName`. What is the negative impact here?

[2021-04-29 11:23] beorn7 commented on #203
That's not a positive impact, it's the actual problem. When dealing with non-trivial PromQL, it's very confusing if labels on a metric suddenly appear or disappear. We cannot prevent that from happening globally, but at least instrumentation libraries can guarantee it for the pre-defined collectors over the lifetime of a binary. See https://prometheus.io/docs/instrumenting/writing_clientlibs/#labe

[2021-05-04 13:22] beorn7 commented on #860
The lack of further comments here makes me believe that my response was more or less correct.

Also note that we have a long lasting discussion around where to place sorting (beyond the existing `sort` function): in PromQL, in a postprocessing step still run on the Prometheus server, or leave it to the caller? But as said, those discussions can be best followed via our [community channels](https:/

[2021-05-04 13:22] #860 closed

[2021-05-04 13:58] #737 closed

[2021-05-06 19:14] beorn7 commented on #303
Relevant discussion: https://groups.google.com/g/prometheus-developers/c/uFWRyqZaQis

[2021-05-21 16:48] LouisStAmour opened #868 "feature: Add exemplar without observation/incrementing?"
The use case I have in mind is for trace-derived metrics in something like an Otel Collector, where you want to output near real-time metrics but you want to add traces as exemplars (such as what Grafana supports) but you can't do both: sometimes you'll want to mark an interesting trace as an exemplar but you only know it's interesting because a later-processed inner span had an exception event an

[2021-05-25 19:59] beorn7 commented on #868
I'm not sure I fully understand what you are proposing. Some parts of it seem to be easily possible with the current primitives. Others (like outlier detection) seem a bit too specific and too out-of-scope to be built into the instrumentation library. But in both cases, I don't understand why you would like to add an examplar without observation. An exemplar is _always_ linked to an observation, i

[2021-05-25 21:33] LouisStAmour commented on #868
The primary use case I'm supporting here is for tail-based sampling decisions while also preserving real-time metrics. The endpoint collecting Prometheus exemplars should not have to check and see if a trace was kept or not.

Right now, if we want to record every trace ID or a small sample of them as exemplars, we can. But that overwhelms the server collecting exemplars because it has to make sure

[2021-05-26 09:47] zserge opened #869 "Simplify sanitisation code in instrument_server.go"
Not sure if I'm missing the big picture, but some sanitization methods in `instrument_server.go` look redundant:

* https://github.com/prometheus/client_golang/blob/a7515ca7c9c6388a5ab84ea336faef795bbf866f/prometheus/promhttp/instrument_server.go#L333-L354
* https://github.com/prometheus/client_golang/blob/a7515ca7c9c6388a5ab84ea336faef795bbf866f/prometheus/promhttp/instrument_server.go#L359-L458

[2021-05-26 14:44] beorn7 commented on #868
Hmm, I see…

So far, I thought exemplars that make it into Prometheus are seen as a _source_ for tail sampling, not the other way around. Following the idea that relatively few traces see their IDs being persisted in Prometheus within an exemplar (at most one per scrape per bucket or counter), and if they do, they are "interesting by definition". See also https://www.youtube.com/watch?v=TzNZIEvhAd

[2021-05-26 14:45] beorn7 commented on #868
Having said all that, I'm not an exemplar expert. Happy to hear more opinions about this.

[2021-05-27 06:13] alok87 opened #872 "Set values to counter for some use case"
I have described my use case [here also.](https://stackoverflow.com/questions/67715773/usecase-needing-to-set-values-to-counter-in-prometheus-and-not-increment)

We are exposing a external system metric which is a counter as time series in Prometheus. The need is to analyze the increase in the metric in one day.

Since the metric is always increasing value we want to use **Counter**.

**Problems**

[2021-05-27 06:40] alok87 commented on #872
Found https://www.robustperception.io/setting-a-prometheus-counter

[2021-05-31 17:52] beorn7 commented on #872
A counter must only drop if there has been a counter reset (not due to accuracy issues).

The definition of a timeseries (which is a separate one and which is the same) purely depends on labels, not on the type of the series.

Having said that, we use GH issues for bug reports and to track feature implementation. Please refer to the [community channels](https://prometheus.io/community/) to get sup

[2021-05-31 17:52] #872 closed

[2021-05-31 18:03] beorn7 commented on #869
Those methods are potentially in a very hot path. Your suggested changes cause allocations, which may be problematic (even if the runtime alone doesn't look like it). See also discussion for #813.

[2021-05-31 18:03] #869 closed

[2021-05-31 18:51] newhook opened #874 "rename metrics.proto"
I was testing apache beam with our source (which uses prometheus) and ran into this problem:

[code]

The problem as has been explained to me in the protobuf gophers slack is that all protobuf file names must be globally unique. Any chance this proto file name can be changed or something unlikely to conflict?

See https://gophers.slack.com/archives/C0FSEE1UJ/p1622473569090000 for details.

[2021-06-01 10:46] ewoutp commented on #834
We need this feature as well.

My preferred approach would be a DeletePartialMatch function.

[2021-06-01 14:46] #850 closed

[2021-06-02 18:26] beorn7 commented on #834
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:26] beorn7 commented on #820
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:27] beorn7 commented on #715
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:30] beorn7 commented on #677
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:31] beorn7 commented on #622
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:34] beorn7 commented on #537
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:35] beorn7 commented on #483
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:36] beorn7 commented on #426
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:36] beorn7 commented on #303
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:37] beorn7 commented on #267
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself no. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 18:41] beorn7 commented on #204
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself now. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit. In this particular case, I actually think you can just close the issue as I couldn't really detect appetite for a change here in all the feedback I got over the years.

[2021-06-02 20:00] beorn7 commented on #190
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself now. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

To get my aforementioned idea sketched out, at least vaguely (feel free to consult me for details, whoever might be working on this in the future):

Labels will be managed by

[2021-06-02 20:01] beorn7 commented on #135
I mostly assigned this to myself as a “default” because I used to be the maintainer of this repo. Therefore, I'm un-assigning this from myself now. New maintainers @bwplotka & @kakkoyun, please deal with this as you see fit.

[2021-06-02 20:36] bwplotka commented on #135
Thanks, we talked about that with @beorn7 and @kakkoyun and it would be amazing to have it, but I feel it should be first tackled on OpenMetrics side.

[2021-06-02 20:52] brian-brazil commented on #135
This has been a feature of client_python and client_java for many years via the `name[]` parameter, you could work from that implementation. I don't see any connection to OpenMetrics here.

[2021-06-02 21:34] bwplotka commented on #135
Hm, why there is no connection?

I thought OM is a protocol that standardises scraping logic. If we standardise path parameter and logic used for filtering, we could allow tools like Prometheus (or any other scrapers) to improve scraping huge targets (e.g kube-state metrics), no? 🤔

[2021-06-02 21:43] brian-brazil commented on #135
OM is primarily a metrics format, as long as you return something reasonable and compliant in response to a simple HTTP request it is good. What HTTP paths and query options you might also support or what effects they may have is not specified, and indeed many different exposers of the existing formats do different things in accordance with their needs and that is fine.

[2021-06-03 14:06] beorn7 commented on #874
Funny, how this shows up eight years the file was created.

[2021-06-03 14:57] howardjohn opened #876 "Release v1.11.0"
Since the changes to drop github.com/go-kit/kit have been merged, it would be great to tag a new release to encourage downstream importers to pick up the new version. Without doing this, the change is not effective since *all* dependencies need to be updated to now import the large dependency to have any impact.

See https://github.com/prometheus/common/issues/255 for context.

Note: the PR to dro

[2021-06-04 09:07] kakkoyun commented on #303
It seems like gogo/protobuf is not maintained anymore. There's a new kid in town, it could be a nice candidate for replacement https://vitess.io/blog/2021-06-03-a-new-protobuf-generator-for-go/

[2021-06-04 09:36] kakkoyun commented on #876
@howardjohn Thanks for reaching out. I'm going to prioritise this and try to release it ASAP.

[2021-06-04 09:37] sagikazarmark commented on #876
The circular dependency between client_golang and common is a bit unfortunate: in order to truly clean up the transitive dependency mess, client_golang neeeds to be released, common updated and released, then client_golang updated and released.

[2021-06-07 12:27] bwplotka opened #878 "Clarify Release process"
Looks like it's a mix of Prometheus and a lightweight no release branch process.

[2021-06-07 12:32] #876 closed

[2021-06-14 15:54] bwplotka commented on #763
Hey, Sorry for the delayed answer but I believe we should actually get a more systematic approach here. With @Hangzhi we are working on adding OpenAPI declaration for Thanos and Prometheus APIs and we can then host auto-generated client implementation (:

[2021-06-15 10:55] metalmatze opened #880 "Support for disabling partial responses via API client"
Hey,
I'm currently using these two functions to query some data from Thanos with this API client.

https://github.com/prometheus/client_golang/blob/196536534fbba6249b94d4ccb2269cf162ceef44/api/prometheus/v1/api.go#L803
https://github.com/prometheus/client_golang/blob/196536534fbba6249b94d4ccb2269cf162ceef44/api/prometheus/v1/api.go#L821

Now, I don't want partial responses from Thanos but rather w

[2021-06-15 20:32] mknyszek commented on #842
I've finally got the bandwidth to make this happen, so I'm circling back to it, and I realized in the weeks leading up to the Go 1.17 release that a bunch of statistics were actually missing (oops), notably related to total allocation count. These are important, and will be available in Go 1.17. So, I think it makes sense to introduce different behavior with Go 1.17 instead of Go 1.16.

I also wen

[2021-06-20 22:50] ggilley opened #882 "Why does client_golang pull in a second copy of google protobuf?"
This package has a lot of dependencies. So I was browsing them (using GitHub insights) looking to see what was used. I see this listed as a dependency:

[code]

It seems to be a copy of the google protobuf library with a couple of changes? What's it used for?

[2021-06-21 07:44] hzzb opened #883 "Proposal: adding cmd/pid labels in order to distinguish same metric exported by multi-process"
In many situations,  we often need to:
1.  deploy several closely related service on one machine.
2.  fork out child process as worker like nginx.

Basic metrics has no determined labels to identify which process exported them, they all look like this:
[code]
what's we really want is:
[code]

Its feasible for users to add custom labels to every metric, but that would be a lot of redundant code.  s

[2021-06-21 22:00] beorn7 commented on #842
First of all: New maintainers of this repo are @kakkoyun and @bwplotka . So they are the new "default deciders". (o:

What you said above sounds all very reasonable to me. If a metric is positively useless, I guess we can dare to set it to "0" and perhaps update the HELP accordingly or remove it outright. A similar thing would happen anyway if a future Go version worked so differently that certain

[2021-06-21 22:53] beorn7 commented on #882
I guess this has been pulled in by a requirement of an indirect dependency. It doesn't seem cool to use an RC.

@SuperQ @kakkoyun this happened in #875 . Perhaps you have noticed anything?

[2021-06-21 22:56] beorn7 commented on #882
Actually, #881 is already out there fixing this.

[2021-06-21 23:49] pdf opened #884 "feature: pull web.disable-exporter-metrics functionality into this package"
The node_exporter implements a command-line flag `web.disable-exporter-metrics` that disables publishing the exporter's process stats. Pulling that functionality into this package with some sort of flag helper similar to promlog would allow all Go exporters to benefit from this behaviour without having to re-implement it.

[2021-06-23 16:46] leahoswald commented on #884
Great idea! I was just on my way to open a similar issue with a request to make it easy to disable the goCollector metrics as they seem only helpful during development but not in production for most exporters.

Currently I do this by adding this line to the code of some exporters:  `prometheus.Unregister(prometheus.NewGoCollector()`

[2021-06-23 20:15] AskAlice opened #887 ".With, or .WithLabels metric throws a nil pointer if a metric isn't registered, when it should error"
Our codebase is on 1.3.0, but this still appears to be an issue with the latest release just by looking at the code.

If I were to simply run

[code]

Before registering my metrics, ie: in a test

Then I would be greeted with a wonderful nil pointer exception

[code]

I wish it would return an error rather than throwing a panic, because it would be easier to write tests.

[2021-06-24 21:02] beorn7 commented on #887
Your example code above would not compile because `GetMetricWith` returns `(metric, error)`.

It _would_ compile if you used `With` or `WithLabels` instead. But those functions are meant to panic if an error occurs. If you want to catch the error, you need to use `GetMetricWith` / `GetMetricWithLabels`.

[2021-06-24 21:27] metalmatze commented on #880
Looking a bit more into this I have for now wrapped the [small `Client` interface](https://github.com/prometheus/client_golang/blob/196536534fbba6249b94d4ccb2269cf162ceef44/api/client.go#L56-L59) with a middleware.

[code]

This should get me pretty far. Still I'm wondering if we couldn't allow to pass query params from the outside so I wouldn't need to encode and decode the body another time.

[2021-06-25 17:33] justinbeal commented on #884
I have also done this by replacing the default registerer/gatherer in my codebases.
`r := prometheus.NewRegistry()`
`prometheus.DefaultRegisterer = r`
`prometheus.DefaultGatherer = r`

It'd be nice to not have to do this dance though, or filter out the go/process metrics in other ways.

[2021-06-30 14:16] androna-xm opened #889 "Error: type prometheus.Counter has no field or method AddWithExemplar"
I have defined a counter
[code]
and i am trying to use the `AddWithExemplar` method of the interface ExemplarAdder that Counter implements :
[code]

However i get this error
`counterRequestLatency.AddWithExemplar undefined (type prometheus.Counter has no field or method AddWithExemplar)`

My go version go1.16.4 linux/amd64
Am i missing something?

[2021-07-02 21:05] beorn7 commented on #889
You have to do a type assertion: `counterRequestLatency.(prometheus.ExemplarAdder).AddWithExemplar(...)`

See also example here: https://github.com/prometheus/client_golang/blob/master/examples/random/main.go#L99

For usage questions, I recommend the community channels rather than GitHub issues, see here: https://prometheus.io/community/

[2021-07-02 21:05] #889 closed

[2021-07-09 04:28] miroswan opened #891 "Does it make sense for metric constructors to return pointers to structs instead of interfaces?"
The Counter and Histogram constructors return interfaces instead of pointers to structs. Now the constructor for Counter returns a Counter interface whose underlying type implements both Counter and ExemplarAdder and the constructor for Histogram returns a Histogram interface whose underlying type implements both Histogram and ExemplarObserver. The users of these clients now need to do type castin

[2021-07-10 10:36] bwplotka commented on #891
Thanks for starting this discussion. In fact there is minor inconsistency between `NewCounterVec()` and `NewCounter()` (first is returning pointer to struct). Overall, let's try to summarize the problems that you pointed out. To me it sounds like there is only one problem:

* Caller has to cast to `ExemplarObserver|Adder` when they want to observe or add exemplar.

This is quite indeed annoying if

[2021-07-10 11:11] miroswan commented on #891
I'm interested.

[2021-07-14 18:09] beorn7 commented on #891
This all has historical reasons (some of them plainly bad design decisions in the past). We had to introduce the weird interface upgrade for ExemplarAdder to prevent breakage when introducing exemplar support. A new major release will clean up those inconsistencies.

[2021-07-15 07:12] kakkoyun commented on #882
Fixed by #881.

[2021-07-15 07:12] #882 closed

[2021-07-26 18:23] nbeal opened #894 "Security Issues with Crypto and Text"
Older versions of golang.org/x/crypto and golang.org/x/text have security issues reported by CVE with proof of concept attacks.

[CVE-2020-9283 (crypto)](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-9283)
[CVE-2020-14040 (text)](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-14040)

Issue can be solved by removing the older version of these packages.

Crypto by making most up t

[2021-08-02 11:48] bwplotka opened #896 "Generate prom API from Swagger/OpenAPI"
With the work done with @Hangzhi on https://github.com/thanos-io/thanos/issues/4102 I think we could replace current promclient with generated client or remove it completely (v2)

[2021-08-02 11:51] bwplotka commented on #696
We can do this, but it's up to users if they would love it.

If you want this feature, let us know by commenting or adding emoji, give us feedback! 🤗

[2021-08-02 11:56] bwplotka commented on #303
Do we need protobuf at all in v2? Or it is needed for histograms.

We maintain unused protocol https://github.com/prometheus/client_model but with histograms we start to use it more. Still definitely not gogo, but vitess one  but might be better choice. 👍🏽

[2021-08-16 17:57] beorn7 commented on #303
Yeah, it's complicated…

If we looked purely at the state of Prometheus 2.x and OpenMetrics, then it would appear quite obvious that any future version of client_golang should completely ignore protobuf.

However, the planned shiny new high-res sparse histograms will most likely benefit immensely from a binary format, which might very well be protobuf. (But maybe someone finds a good way of repres

[2021-08-16 18:00] beorn7 commented on #303
And coming back to the actual point: Once we know protobuf will stay a thing in the Prometheus universe, clearly we shouldn't switch everything over to an unmaintained protobuf implementation. The Vitess one looks quite promising, but needs benchmarking. The choice to be made is much more acute for Prometheus remote-write, as that's definitely protobuf and high throughput and used a lot all over t

[2021-08-18 13:33] Kaitou786 opened #900 "api.NewClient doesn't return error in case Address in the config struct is not reachable or does not exist"
When getting the client using the following code:
[code]
In case the URL does not exist or not reachable the NewClient does not return any error

Using the:
[code]

Expected Behaviour:
 When getting the client it should return the error if the address inside the config does not exist

Actual Behaviour:
nil error

Even when using this client to do `Client.Query` it doesn't return any error it retur

[2021-08-24 03:44] taiyang-li commented on #834
I need this feature too!

[2021-08-30 21:45] beorn7 commented on #894
Neither of the vulnerabilities is relevant for this repo (doesn't use SSH, doesn't use UTF-16).

Nevertheless, we should update them with the next release, as per our usual procedure of getting dependencies up-to-date. This will organically happen with golang.org/x/text, but even after running the update procedure, golang.org/x/crypto is only updated to v0.0.0-20200622213623-75b288015ac9 . This me

[2021-09-02 07:10] smuda commented on #894
I guess the circular dependency between client_golang and common requires multiple releases to get rid of vulnerable dependencies. For example, CVE-2020-14040 is detected in v1.11.0, even though it's really in v1.7.1 which is pulled in by common:

[code]

[2021-09-02 09:39] PhilipGough commented on #900
The `NewClient` function parses the user input to ensure it is a valid URL and returns and error otherwise. Passing a valid but unreachable URL to that function sounds like a user error.

Also running the example in https://github.com/prometheus/client_golang/blob/master/api/prometheus/v1/example_test.go#L30-L51, if I change it to an unreachable address I get a 404 from the `Query` function

[2021-09-02 09:44] PhilipGough commented on #896
@bwplotka have you had any success with generating relatively idiomatic clients from OpenAPI spec? If so, what tools did you use?

[2021-09-02 13:07] icamys commented on #486
I was looking for this feature several times during the last couple of years. After finally understanding and accepting the fact that the client is designed only to **expose** existing metrics, I found a solution that works for me (thanks to @beorn7). Below I provide an example of code that allows reading values and use them as metrics at the same time.

[code]

[2021-09-16 08:52] jiping-s opened #910 "No API to query the metrics?"
Hi!

We've been using the library in a project which needs to list metrics and query their values for test mode. It works partially for now with custom metric types and custom registry which duplicates a small part of the library itself, but as we need more and more features I begin to wonder if we're doing it the right way or should we use the library at all, and I'm hoping someone with such expe

[2021-09-16 13:34] beorn7 commented on #910
The instrumentation library is deliberately lightweight and does not intend to implement an in-memory database. (It already does quite a few things to ensure consistency, but we would really like to leave it there. There are already alternative instrumentation libraries in Go out there by developers for which this one here appeared too heavy-weight!)

If you do want more sophisticated querying, th

[2021-09-17 14:23] jiping-s commented on #910
Thanks for the ideas @beorn7!

[2021-09-17 14:23] #910 closed

[2021-09-20 19:07] dtrudg opened #912 "Update for github.com/cespare/xxhash/v2 to avoid asm errors with go 1.17"
The latest release, and `master` branch of prometheus/client_golang are using `github.com/cespare/xxhash/v2 v2.1.1`.

This dependency has an issue which prevents compilation of code into a plugin with the latest versions of Go. I.E. when using go 1.17 / 1.17.1 compiling a go plugin that imports prometheus/client_golang will result in:

[code]

See: https://github.com/cespare/xxhash/issues/54

Plea

[2021-09-21 08:35] SuperQ commented on #884
I think it would be useful to have a configuration struct/method for the default Go/Process collector.

[2021-09-23 07:16] jiping-s commented on #910
I cleaned up our work and extracted it to https://github.com/relex/gotils/tree/master/promexporter/promreg (main front) & https://github.com/relex/gotils/tree/master/promexporter/promext (support types/funcs), in case anyone might be interested.

[2021-09-24 07:27] yuyue0225sc opened #915 "Some weird panics occur when using prometheus client exporter"
I used the prometheus golang client expoerter on a service with more than 10,000 qps to calculate the http interface indicators. I found that the following weird panic occasionally appeared on a few instances. Do you know the reason for this? thanks

1.runtime error: growslice: cap out of range
panic.go:969 +0x1b9\ngithub.com/beorn7/perks/quantile.(*Stream).insert(...)\n    /home/ferry/go/pkg/mod/

[2021-09-28 10:43] harishkumarbalaji opened #916 "[Critical Vulnerability] Project depends on vulnerable dependencies"
**Describe the bug**
Project depends on a vulnerable dependencies.

**To Reproduce**
From the project rootm run the following command

`go list -json -m all | docker run --rm -i sonatypecommunity/nancy:v1.0.22 sleuth --skip-update-check`

**Expected behavior**
From a security point of view, the project should not have dependencies which are vulnerable.

**Vulnerable deps**
pkg:golang/github.com/go

[2021-09-28 15:04] beorn7 commented on #916
The code isn't using GoGo protobuf at all. This dependency only existed accidentally for a short while in an old version of prometheus/common, which we don't use anymore, either.

I do not understand why `go list` lists it, but I'm sure that it's not actually used.

See also https://github.com/prometheus/client_golang/issues/894#issuecomment-905675582 and comments.

[2021-09-28 15:18] beorn7 commented on #916
Here is my attempt at an explanation:

github.com/prometheus/common@v0.4.1 requires the vulnerable GoGo Protobuf version. The next version (and all following versions) of github.com/prometheus/common don't require a more recent version of GoGo Protobuf but rather _no Gogo Protobuf at all!_

So the dependency solver of Go Modules still picks github.com/gogo/protobuf@v1.1.1 as the version of GoGo Pr

[2021-09-28 15:18] #916 closed

[2021-09-28 15:20] beorn7 commented on #894
See https://github.com/prometheus/client_golang/issues/916#issuecomment-929330066 for an explanation why gogo/protobuf gets easily flagged by naive security scanners.

Interestingly, GitHub's Depandabot doesn't alert on any of the vulnerabilities listed in this issue. It seems to do something smart to find out if the vulnerability is actually relevant (or it's just not sensitive enough ;).

[2021-09-29 10:11] bwplotka commented on #915
Thanks! Sounds like something to investigate.

[2021-09-29 10:11] #912 closed

[2021-09-29 13:59] #900 closed

[2021-10-08 03:55] yuyue0225sc opened #919 "How to reduce the memory usage of prometheus golang client？"
After I removed the prometheus golang client and stopped collecting metrics, I found that the service memory usage dropped from 600MB to 300MB. Is there a better cache indicator expiration strategy?

[2021-10-11 16:17] acim commented on #916
After tihe “fix” from my previous message, nancy reports no problem.

[2021-10-13 09:01] ppatierno opened #923 "The NewCounterFunc doesn't allow using labels on metrics"
While working on the Strimzi canary project [1] I had this code at the beginning to track a metric related to produced records:

[code]

Now I have to make this counter to be accessible so I was thinking to use a var and then using `NewCounterFunc` so something like this:

[code]

The problem I have now is that I cannot attach updated labels on the metric. The code updates just the variable of cou

[2021-10-15 12:43] #923 closed

[2021-10-22 11:19] prymitive opened #926 "Please export Prometheus server config struct"
client_golang provides Prometheus server API helpers, one of which is `Config()` that returns runtime configuration of Prometheus server, but the config data itself is a YAML string of the config:

https://github.com/prometheus/client_golang/blob/master/api/prometheus/v1/api.go#L282-L285

To be able to use that config data one also needs the Config struct, which is currently included only in Prome

[2021-10-29 04:49] HARISANTHA-SWARNA opened #930 "HSTS Missing From HTTPS Server Error From Prometheus server Metric Port"
Hey,

We are using prometheus server API and starting metrics server to provide metrics data to prometheus and below lines are from the code that we are working.

http.Handle("/metrics", promhttp.Handler())

server := &http.Server{
		Addr: metricsAddr,
	}

server.ListenAndServe()

we are using  nessus tool to scan the metrics port and it is throwing vulnerability HSTS missing header.

How we can a

[2021-11-01 18:47] #930 closed

[2021-11-04 13:57] dsonck92 opened #932 "Expose, or allow inserting, the http.Client used by the api.Client"
When querying Prometheus behind a proxy or authentication layer, certain extra authentication information may be necessary. Normally, this could be handled by giving a custom `http.Client`, however, the `api.Client` implementation `httpClient` wraps the `http.Client` and only exposes the address and `http.RoundTripper` to the user.

As per the go docs, the `http.RoundTripper` is explicitly not han

[2021-11-08 13:34] bjanders commented on #916
Where does the indirect dependency on common v0.26.0 come from? Currently by following the go.mod dependencies, there is the following chain (as noted above, but here's the complete chain):

github.com/prometheus/client_golang@v1.11.0
github.com/prometheus/common@v0.26.0
github.com/prometheus/client_golang@v1.7.1
github.com/prometheus/common@v0.10.0
github.com/prometheus/client_golang@v1.0.0
githu

[2021-11-08 14:43] ii64 opened #933 "example: flag variable used before parse - can't adjust bucket start, width using flag arguments"
flag defined here
https://github.com/prometheus/client_golang/blob/679eb0d315d3bad8963927751537034476a52e25/examples/random/main.go
#L32-L38

used before calling `flag.Parse()` (derefencing from pointer), default value all the time
https://github.com/prometheus/client_golang/blob/679eb0d315d3bad8963927751537034476a52e25/examples/random/main.go#L50-L63

calling `flag.Parse()` (updates the flag valu

[2021-11-09 07:47] tsybinAndrey opened #934 "It is not possible to create two metrics with the same name but different labels set"
Hello, I think I found strange behavior out there.
https://github.com/prometheus/client_golang/blob/master/prometheus/registry.go#L313
It is not possible to create two metrics of the same type and name but with different set of labels, but technically those metrics are represented as different time series in Prometheus. So we can do this in prometheus actually. We can see it in answer to [this que

[2021-11-10 08:00] #934 closed

[2021-11-10 11:04] tsybinAndrey commented on #934
When I read lib code and [Prometheus docs](https://prometheus.io/docs/instrumenting/writing_exporters/#labels), I realised , that actually this checks should be implemented in all libraries. This is absolutely correct behaviour. In some situations if you skip this checks it can lead to inconsistent metrics state and it will be almost impossible to get correct metric stats in dashboard. There is go

[2021-11-10 15:22] beorn7 commented on #933
Good catch. I simply moved everything into main() in #935.

[2021-11-10 17:25] #933 closed

[2021-11-15 06:48] yolossn opened #936 "Add secret to promhttp HandlerOpts"
Often the metrics exposed can contain sensitive information and adding a secret to the handler directly will be very handy, prometheus supports `secrets` in scrape configs and it will be useful if the `promhttp` package also provides an easy way to secure the `promhttp` Handler.

[2021-11-15 19:09] beorn7 commented on #936
I think this shouldn't be handled specifically within the Prometheus metrics handler, but in a middleware or for the whole server so that it works more generally. https://github.com/prometheus/exporter-toolkit might be exactly what you are looking for.

As an example of using it, check out https://github.com/prometheus/collectd_exporter/blob/master/main.go .

[2021-11-19 12:54] eero-t commented on #836
@beorn7 How one actually does get the list of modules that are directly or indirectly used by prometheus/client_golang?

That kind of lists are needed for license compatibility checks, security scanning etc.  Things that I think this project should already be doing...

[2021-11-19 13:32] beorn7 commented on #836
A good question. Go modulies is confusing in this regard.

I used to think so, but sometimes, it leads to weird results. I also got the impression things are changing with the Go version.

Security scanning of dependencies is happening via GitHub, and they seem to do a good job (as in: they have flagged actual problems in the past but haven't run into the frequent false positives that more naive s

[2021-11-19 13:36] eero-t commented on #836
Ok, thanks.  IMHO this should be raised as critical issue against Golang.  Finding out your BOM cannot be this hard if language is to be taken seriously.

[2021-11-22 03:02] ElapsedSoul opened #937 "A simple and stupid question about prometheus_client"
I have a question about prometheus_client.
It's simple protocol for prometheus to pull metrics from exporter.
We can just provide string format by "metric{labels} value" by simple http server.
So what advantages except normalization we get from using prometheus_client library to develop?
Apologize for my bad expression,I just can't reach the points.

backgroud:
I'am new for go and prometheus in on

[2021-11-22 07:09] caibirdme commented on #796
I'm facing a related case , for simplicity, imagine the messages in kafka looks like this
[code]
That means the request to /a/b cost 800ms and the sampling ratio is 1%.
Since the sample_ratio varies api to api, so when I calc the requests_total, I did something like
[code]
But for histogram, there's no similar method, so I have to do things like:
[code]
If there's a function like: `ObserveN(value

[2021-11-22 11:14] beorn7 commented on #796
@caibirdme that's an interesting use case. Still not sure how often it will come up and if it justifies 1st class treatment directly here in this repository. (You can always implement it yourself and even advertise it via community channels to see if there are more with the same need. If that turns out to be the case, it's easy to accept it as a contribution here. I should also mention at this poi

[2021-11-22 12:54] #937 closed

[2021-11-23 13:04] helios741 commented on #842
So when is the collection done using `runtime/metrics` and is there a schedule? @mknyszek @beorn7

I think the two new metrics exposed in runtime/metrics in 1.17(/sched/goroutines:goroutines and /sched/latencies:seconds) are very good, and now that we've exposed them by our own means, I hope the officials will follow through.

[2021-11-23 13:34] mknyszek commented on #842
@helios741 I keep getting side-tracked, but I am working on a PR. This has bubbled up on my priorities recently so I'll send something soon.

[2021-11-23 22:46] stokito commented on #825
@st4nson I have some related questions:
How can I reset **all** metrics from a registry?
Also how the metrics must be cleared and by whom? One day I'll get an overflow or some old metrics will eat all memory.
Now I thinking to add some job that will wipe out all metrics at midnight. For my app's admin it will be just fine to just get the raw /metrics and show it to see the whole picture for today.

[2021-11-26 08:31] Antanukas opened #942 "Counters without `_total` suffixes loose metric type in Open Metrics exposure format"
When exposing counters without `_total` suffixes in Open Metrics exposition format metric type is lost.

Using `github.com/prometheus/client_golang v1.11.0`.

Code to reproduce:
[code]

[code]
[Open Metrics](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#counter-1) requires these suffixes, however it does not look practical to loose metric type in different

[2021-12-02 07:21] just1900 commented on #854
Sorry to bother, any updates on this?
It seems [client_java](https://github.com/prometheus/client_java#exemplars) have supported exemplars with otel.

[2021-12-05 05:58] yeya24 commented on #932
+1. This would make this library easier to use.

[2021-12-09 02:54] rfratto opened #945 "Builder-like pattern to simplify creation of metrics containers"
## Background

It is [common](https://github.com/prometheus/prometheus/blob/c965a7555b7ffcee1a127d782abd5bb478a16750/tsdb/db.go#L198-L308) for Prometheus client code to create a container which holds metrics pertaining to a specific subsystem. Custom containers are useful for avoiding pollution of the global registry and allow for tracking independent sets of metrics when multiple instances of a s

[2021-12-13 07:32] jeffwidman opened #946 "New release with updated deps?"
Could you cut a new release?

I noticed some changes were made to the deps that fixes a go 1.17 issue (#913), but it hasn't been released yet.

This may be blocked by #911

[2021-12-13 07:48] sunlintong opened #947 "constHistogram write cause "concurrent map iteration and map write" panic"
version: v1.11.0
[code]
The code may be here:
https://github.com/prometheus/client_golang/blob/8184d76b3b0bd3b01ed903690431ccb6826bf3e0/prometheus/histogram.go#L554-L577

[2021-12-13 08:02] sunlintong commented on #947
I think this may happens when "`func (h *constHistogram) Write(out *dto.Metric) error`" and my function which wirte data in buckets at the same time.
I can copy a new buckets to resolve this problem, is there other solutions?

[2021-12-13 08:57] kakkoyun commented on #946
I will check all the open PRs and see if we can cut a release this week.

[2021-12-14 12:53] beorn7 commented on #947
Indeed, the observed behavior is expected. [`NewConstHistogram`](https://pkg.go.dev/github.com/prometheus/client_golang/prometheus#NewConstHistogram) creates a "throw-away" histogram for one-time use (that's what the "constant" in the name tries to allude to). Changing the buckets map after you have handed over the histogram in a `Collect` call is a race.

[2021-12-14 18:32] NadhemMohamedRached opened #949 "prometheus-adapter empty item list but successful HTTP request"

[2021-12-15 08:10] pacoxu commented on #946
https://github.com/kubernetes/kubernetes/pull/105142 depends on it as well.

[2021-12-17 17:37] bboreham commented on #621
I just hit this on `LabelValues()`. Evidently somebody else though that `time.Time{}` should behave as 'not set':

https://github.com/cortexproject/cortex/blob/07d6cfc4eb848fc410262773255dfec750c0a64f/integration/getting_started_single_process_config_test.go#L62

How about creating a constant with a value of minTime, that would be taken as "don't send a value"?

[2021-12-20 16:16] bboreham opened #951 "API passes time.Earliest incorrectly"
If you pass `model.Earliest.Time()` to prometheus/client_golang it sends -9223372036854776, which is 192 milliseconds less than the original.  This value will cause an overflow when read by `prometheus/web/api/v1`, turning it into a very large _positive_ time.

I am using github.com/prometheus/client_golang v1.11.0
and github.com/prometheus/client_model v0.2.0.

To illustrate:
https://go.dev/play/

[2022-01-05 01:52] pacoxu commented on #946
Any update here? Kindly ping. 😄

[2022-01-05 07:30] kakkoyun commented on #946
Sorry, I've dropped the ball on this. I'm back after a break. I'll look into this. Thanks for the ping.

[2022-01-05 10:43] kakkoyun commented on #951
Thanks for reporting @bboreham. Help wanted if anyone interested for a chance contribution.

[2022-01-05 10:45] kakkoyun commented on #949
Hey @NadhemMohamedRached, thanks for reaching out. Could you please give more detailed information about the issue? It's a little hard to decipher.

[2022-01-07 02:31] ikingye opened #960 "Rule field name is different, why?"
one is "alert"
the other is "name"

one is "expr"
the other is "query"

one is "for"
the other is "duration"

alerting rules file like this:
https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/
[code]

prometheus/prometheus, type Rule is
https://github.com/prometheus/prometheus/blob/671bb0d5b8ae3695fbf74b05329ed23c61650c72/model/rulefmt/rulefmt.go#L126
[code]

but why prometh

[2022-01-07 03:15] yeya24 commented on #960
@ikingye Hello, I believe type AlertingRule and RecordingRule type are mainly defined for the `/api/v1/rules` responses.
`Rule` type you mentioned is the raw rule type and other structs are needed for the rules API. For example, you can find these definitions in Prometheus as well https://github.com/prometheus/prometheus/blob/main/web/api/v1/api.go#L1173.

At the rules API, additional data are add

[2022-01-07 09:12] ikingye commented on #960
If I want "alert", "expr", "for", should I use "prometheus/prometheus", not "prometheus/client_golang"? @yeya24

[2022-01-07 17:07] kakkoyun commented on #946
I want to have at least https://github.com/prometheus/client_golang/pull/955 merged. It's closed, please stay tuned.

[2022-01-07 17:44] yeya24 commented on #960
@ikingye Not sure what's your requirement exactly. Are you going to query prometheus API or use the rule type?
If you need the API you can just use the API and structs provided this repo.

[2022-01-14 08:49] fpetkovski commented on #578
We encountered a similar problem in kube-state-metrics. KSM currently exports kube-api metrics and telemetry metrics on different ports. There is a request to enable merging all metrics in one endpoint, but that would break our filters since we can't control metrics exported by the process collector.

[2022-01-14 12:48] beorn7 commented on #578
Could you be more specific what "break our filters" means?

[2022-01-14 15:50] beorn7 commented on #578
I see. I guess that's a more general problem then than just making the ProcessCollector configurable.

Perhaps you could wrap all the externally provided collectors with a `FilteringCollector` and then filter out the metrics in the `Collect` method… It would be quite expensive as you have to render each metric with `Metric.Write`, but if it only affects a few metrics, that might be acceptable as a

[2022-01-18 09:55] pacoxu commented on #946
@kakkoyun  #955 is merged.
Any plan for the release? 😄 Or there's another blocker.

[2022-01-18 10:02] kakkoyun commented on #946
No, we have handled everything. We will release soon.

[2022-01-18 13:51] kakkoyun commented on #842
Fixed by #955

[2022-01-18 13:51] #842 closed

[2022-01-18 13:53] #894 closed

[2022-01-19 07:59] #946 closed

[2022-01-19 11:29] prymitive opened #967 "v1.12.0 exposes some high cardinality metrics"
It seems that v1.12.0 includes some extra high cardinality metrics, most likely autogenerated by Go itself thanks to #955.

Here's a full diff of metrics between 1.11 and 1.12 - https://gist.github.com/prymitive/3d16b79a8187448bf6e0d61db7336ca0

Having so many extra metrics exposed by default might cause problems for people with lots of Go services.

[2022-01-19 13:47] fpetkovski commented on #578
Thanks for the suggestion, that could indeed work. The only issue is that `Metric.Write` does not serialize the metric name: https://github.com/prometheus/client_golang/blob/main/prometheus/value.go#L124.

It seems that the name is contained in `Desc.fqName`, but it's not added to the label pairs when the metric is written out to a DTO. Is this expected, or is it just an oversight?

[2022-01-19 13:51] beorn7 commented on #578
Yes, that's expected. The metric name is only part of the MetricFamily (in the old protobuf-based data model). So yeah, without access to `Desc.fqName`, you cannot filter by name in the Collector. (You could do something on the Gatherer level, where you act on the MetricFamily level.)

[2022-01-19 14:15] fpetkovski commented on #578
Perfect, wrapping the Gatherer seems to work. It's also simpler to work with it since there's no need to deal with channels. Thanks for the pointers :+1:

[2022-01-19 18:24] nicolaasuni opened #968 "v1.12.0 race condition"
After upgrading to: github.com/prometheus/client_golang v1.12.0
I am getting "**WARNING: DATA RACE**" while testing:
https://github.com/nexmoinc/gosrvlib/tree/main/pkg/metrics/prometheus

The race conditions do not appear in version 1.11.0 or any other previous version.

The race condition do not appear when disabling the t.Parallel() in the unit tests (e.g.: https://github.com/nexmoinc/gosrvlib/b

[2022-01-20 05:28] kakkoyun commented on #967
Thanks for reporting. It seems like we need to think more about default bucket configuration.
@mknyszek what do you think?

[2022-01-20 05:30] kakkoyun commented on #968
Interesting 🤔 I do not recall any changes that could cause this. We'll look into it.

[2022-01-20 05:41] kakkoyun commented on #968
Could you provide more about your current setup? OS? Arch? And the test command that you use?

[2022-01-20 07:29] nicolaasuni commented on #968
@kakkoyun Thank you for looking into this.

My environment is:
[code]

I have pushed the failing version on the "dependencies" branch:
https://github.com/nexmoinc/gosrvlib/tree/dependencies

You can test the prometheus package via the command:
[code]

[2022-01-20 12:57] kakkoyun commented on #967
cc @bwplotka

[2022-01-20 13:16] beorn7 commented on #967
Yeah, that's rather extreme for default metrics. Perhaps those could be opt-in at that granularity.

I would also like to change that before releasing the final Prometheus v2.33.

[2022-01-20 13:45] beorn7 commented on #968
I think the problem is that the newly implemented Go collector doesn't have a goroutine-safe `Collect` method. In particular, the call `metrics.Read` needs to be protected, see https://github.com/prometheus/client_golang/blob/01087964d02726ef7438fdb19c2672e6e5d0b48a/prometheus/go_collector_go117.go#L134

/cc @mknyszek

[2022-01-20 16:06] mknyszek commented on #968
Hm... `metrics.Read` is serialized (with only itself) internally, though. There may be other parts of `Collect` that are not properly serialized, though.

[2022-01-20 16:11] mknyszek commented on #967
Yeah, the histograms in `runtime/metrics` are large by some standards. The time-related ones have pretty high granularity, but it's fairly straightforward to downsample and make them exponentially bucketed. Maybe some code to check a threshold on bucket granularity and then downsample if necessary?

FWIW I think it would be nice keep the `allocs-by-size` and `frees-by-size` as-is -- they're bounde

[2022-01-20 16:21] mknyszek commented on #967
Not to derail this too hard, but just for my understanding: what does this cardinality budget look like? Memory? Throughput?

[2022-01-20 16:23] prymitive commented on #967
Each unique time series eats ~4KB on average in our production environments. The diff I posted has more than 1k lines. Adding 1k extra metrics adds ~4MB of Prometheus memory per instance for every Go service scraped by Prometheus (plus some memory for exposing those metrics in those services). 4MB might not be much but it adds up quickly.

[2022-01-20 16:24] beorn7 commented on #968
But `metrics.Read` gets `c.rmSampleBuf` passed in. So even if `metrics.Read` itself is serialized, `c.rmSampleBuf` is later ranged over while another goroutine might write to it.

[2022-01-20 16:30] mknyszek commented on #967
Thanks, that's good to know. I meant to say this earlier, but I'll send a PR to reduce the bucket granularity.

I'm thinking something like a function that iterates over the buckets and merges buckets within either a factor of 2 or a factor of 10 (depending on the metric unit), making the buckets exponential. Does this sound reasonable?

Opt-in to higher granularity can be future work; an exponent

[2022-01-20 16:34] mknyszek commented on #968
Right! Thanks. OK, that should be an easy fix. `runtime/metrics` has a critical section on the order of microseconds (even with all the histograms). Is it safe to assume `Collect` is on average called at a much higher period? If so, a simple mutex will likely suffice.

[2022-01-20 16:44] prymitive commented on #967
Is 136 too much?
I see that an example Go service I run with only a few custom metrics exposes ~54 time series on average across all instances. If you add 136 time series to that you're more than doubling metrics footprint of client_golang and that's a big jump. Nowhere near as huge as adding over a 1k time series but still relatively large.
It's probably gonna be fine for some people, might be to

[2022-01-20 16:53] mknyszek commented on #967
@prymitive Sure. I can also reduce the impact of this further if there's a way to alias metrics (i.e. just say "here's metric name, but it's really just this other metric, so use that data instead") since some existing metrics are re-exported under new names. I can also drop the new names for just those metrics altogether, but that would make for a somewhat worse user experience. Currently, the na

[2022-01-20 18:46] beorn7 commented on #968
I would probably go for a simple mutex for now. If there are smarter solutions, we can implement them later.

[2022-01-20 18:50] beorn7 commented on #967
I leave it to @bwplotka and @kakkoyun to make the call what increase in metric cardinality is fine for a minor release. As I might have said before, this library is used a lot, so we have to navigate with care and in doubt make potentially disruptive features opt-in.

[2022-01-20 18:51] beorn7 commented on #968
And yes, scraping can be assumed to be a relatively rare event (a few times a minute in usual cases, a few times a second in extreme cases).

[2022-01-20 19:08] mknyszek commented on #968
Sent PR #969. Tests now pass in `-race` mode.

[2022-01-20 19:43] mknyszek commented on #967
For sure. The current state of things is not great. I didn't anticipate that each histogram bucket would be treated as an individual metric, and I also forgot quite how big I made these histograms. 😅

Going back over the list, it looks like at a bare minimum (without removing "duplicate" metrics -- I'd rather not because the new forms of them are more orthogonal and clearer; the divisions and grou

[2022-01-21 06:36] kakkoyun commented on #967
First of all, let's not remove old metrics. There are lots of dashboards out there would be broken.

And @mknyszek as you suggested let's try to aggressively reduce the number of the buckets. With the a reason number of cardinality increase and better communication, this should be doable.

Yes, tests are essential for this case.

And also as @beorn7 suggested, maybe we should go in a direction to

[2022-01-21 06:48] mknyszek commented on #967
Er, very sorry. I was definitely *not* suggesting that. I recognize how important that is. And I can see how what I wrote that reads that way, but I meant that we can cut out *new* metrics that already exist in some form.

I have a WIP implementation of the reduced bucketing that means 10 exponential buckets for 2 of the histograms, and 13 for the other 2. That makes for a total of `25+10+10+13+13

[2022-01-21 07:34] #968 closed

[2022-01-21 09:06] bwplotka commented on #967
Thanks, reducing those histograms is definitely the first step.

What if we make it so a user has 3 options:

* Have new ones from MemStats (default)
* Have new with extended buckets and ones from MemStats
* Have only old ones from MemStats for those who don't want extra 71 metrics?

Potentially also 4th one? without MemStats?

[2022-01-21 13:35] beorn7 commented on #967
Also a general note: I _love_ high-res histograms, but Prometheus doesn't really do those yet. We are working on it, but it will take months before they are generally available (at which point we should definitely offer those awesome metrics for users of the new high-res histograms at fine granularity).

[2022-01-21 16:19] stone-z commented on #834
Another vote for the `DeletePartialMatch/DeletePartialMatchWith` feature.

<details>
  <summary>Use case for those interested</summary>
  We have an exporter which exposes values from some Kubernetes custom resources. An extremely simple conceptual example might be:
[code]
The exposed gauge metric for that resource might look like:
[code]

Now suppose  `my-resource` is updated to `version: 1.3.0`.

[2022-01-21 16:59] mknyszek commented on #967
@bwplotka Yeah, that works. My apologies for not just doing this up-front, but understanding the constraints now I get where you're coming from.

Looking back over the comment history, if the biggest concern here is that 71 metrics being added for a minor release is too much, then I'm fine with only exporting the old metrics, backed by MemStats, and then flipping to the added 71 metrics on the maj

[2022-01-23 03:23] jameshartig commented on #967
I found this issue after seeing this:
<img width="490" alt="image" src="https://user-images.githubusercontent.com/112555/150663444-1997b242-49cf-4a6f-8eda-d4f80d7fd872.png">

and we only have this deployed to 1 service (out of 50+) and already 2 of the new histograms are already in the top 3 of our metrics. `go_sched_latencies_seconds_bucket` and `go_gc_pauses_seconds_total_bucket` both have over

[2022-01-23 19:24] beorn7 commented on #967
Yeah, I think this deserves a timely bugfix release. Together with #969.

[2022-01-24 05:44] mknyszek commented on #967
Sent #974 to mitigate the immediate problem. Waiting on advice on the best way to expose multiple options so users may opt out of the additional 79 values introduced in this release (I was off by a few because I forgot about the sum and count dimensions of histograms).

[2022-01-24 14:48] bboreham opened #977 "Client API: don't read entire response into a buffer before parsing it"
The API client functions all follow this pattern, where they make an http call to get back a `[]byte` then decode the JSON:
https://github.com/prometheus/client_golang/blob/f63e219e6b9074f8a55c8475e7b11720bdfc3737/api/prometheus/v1/api.go#L830-L836

For larger responses, this buffer gets quite expensive (see #976).

I propose that instead we parse JSON from the response body as it comes in.
I can

[2022-01-25 10:18] kakkoyun commented on #977
Thanks for bringing it up. I'm happy to accept any changes for the API part. It is still considered experimental and we have wiggle room to experiment.
@bboreham Do you need a hand on this or do you plan to take care of it?

[2022-01-25 10:23] bboreham commented on #977
Right now I don't expect to start on this.  It's quite a big job and not critical to what I'm doing.

There was some discussion in #763 of code-generating the API, which seems an attractive way to make such structural changes.

[2022-01-25 22:01] bwplotka commented on #967
Sorry for the lag @mknyszek and thanks for the quick reaction! Let's aim to release this week.

I would propose adding variadic option pattern so from `func NewGoCollector() prometheus.Collector` do `func NewGoCollector(opts...GoOption) prometheus.Collector` where `GoOption` is

[2022-01-27 21:44] timo-klarshift commented on #677
I see my benchmark dropping from around 20k requests per second down to 13k requests per second simply after adding the go default collector. Could this be related to the atomic counting?

[2022-01-28 00:52] mknyszek commented on #967
Given how big #974 has gotten, I'll do the options as a separate change. Sorry for the delay this week, I'm on a rotation.

[2022-01-28 12:22] nicolaasuni commented on #968
When are you planning to release and tag this fix?
Currently I cant update to the new v1.12.0 as it contains the race condition bug.

[2022-01-28 21:41] beorn7 commented on #967
Thank you very much for fixing this quickly.

@kakkoyun are you planning to cut 1.12.1 any time soon? It would help me to cut the final Prometheus v2.33.0 release (the rc.1 has client_golang 1.12.0 with the race condition and the excessive amount of Go metrics).

[2022-01-29 05:04] kakkoyun commented on #967
Yes, I will do it today Björn. And ping you when it’s out.

On Sat 29. Jan 2022 at 00:41, Björn Rabenstein ***@***.***>
wrote:

--
Kemal Akkoyun

[2022-02-01 20:51] tsandall opened #981 "JSON marshalling of GoCollector metrics in v1.12.1 results in NaN error"
We recently upgraded from v1.12.0 to v1.12.1 and noticed that the GoCollector metrics are generating JSON marshalling errors because of NaN values. The metrics in question are `go_gc_pauses_seconds_total` and `go_sched_latencies_seconds`. This is on Go 1.17 if that helps.

Here's a small program that reproduces the issue.

[code]

x.go:

[code]

go.mod:

[code]

[2022-02-02 13:08] beorn7 commented on #981
`NaN` (and `+Inf` and `-Inf`) are valid metric values in Prometheus. I'm not sure if they make sense in this particular case, but for a robust solution, the JSON marshalling needs to be fixed so that it can deal with those special floating point values (e.g. by rendering Prometheus metric values as strings, as it is done in the Prometheus HTTP query API).

In different news, I wasn't aware that an

[2022-02-03 10:40] prymitive commented on #967
Thanks for fixing excessive bucket number count.
I see it still adds 80 extra metrics, it's not a small number but something most of us can live with.
There's only one bamboozle I have after upgrading to v1.12.1:

[code]

Isn't `le="-5e-324"` a negative number?  Is that a valid `le` value?

[2022-02-03 12:08] beorn7 commented on #967
It is valid (or in other words: Prometheus histograms do support buckets for negative observations). But in this case, the observed GC pauses should never last a negative amount of time (that would mean the pause ended before it started? ;) .

I assume that's just a floating point precision issue, and the bucket boundary should perhaps be adjusted (to zero?).

@mknyszek you will know more about th

[2022-02-03 18:07] mknyszek commented on #967
@beorn7 is correct. It's the `math.NextAfter` value for zero (toward `-Inf`). It is unfortunately sometimes possible, due to OS or runtime bugs, that samples end up in this bucket (probably not for GC pauses, but for scheduling latencies for example). This bucket is supposed to capture any of those cases, but I think there's a point to be made that it might not be worth surfacing that to the user.

[2022-02-05 12:47] bwplotka opened #983 "Add option to Go process metrics to fallback to pre v1.12.0 behaviour."
AC:
* As per [comment](https://github.com/prometheus/client_golang/issues/967#issuecomment-1021650447), there is a variadic option on `func NewGoCollector() prometheus.Collector`, so  `func NewGoCollector(opts...GoOption) prometheus.Collector` where `GoOption` is some `func(o *goOptions)` and then we can have `WithMemStatsEnabled(bool)` `WithRuntimeMetricsEnabled(bool)` and both true by default, w

[2022-02-05 12:48] bwplotka commented on #967
No worries @mknyszek and thanks for helping!

I created another issue for opt-out API, (https://github.com/prometheus/client_golang/issues/983), so hopefully, users like @prymitive can fall back to the old behaviour if needed. Also help wanted if anyone else want to contribute this! 🤗

[2022-02-07 09:41] ZhouZhongzhi opened #984 "Metrics HELP conflict results in data loss"
My client has two versions of node_exporter in their system environment
The HELP for node_cpu_seconds_total is different in the two versions

[code]

If both node_exporter indicators are collected at the same time
One of these will be discarded due to HELP conflicts

Why do we do this?
It is only the difference of HELP

[2022-02-07 09:55] ZhouZhongzhi commented on #984
ErrorInfo：

`collected metric node_cpu_seconds_total label:<name:"cpu" value:"9" > label:<name:"instance" value:"192.168.101.1:9100" > label:<name:"instance_ip" value:"192.168.101.1" > label:<name:"job" value:"test" > label:<name:"mode" value:"system" >  counter:<value:230265.5 > timestamp_ms:1644227543046  has help "Seconds the CPUs spent in each mode." but should have "Seconds the cpus spent in

[2022-02-10 07:29] ZhouZhongzhi commented on #984
@beorn7

[2022-02-10 18:08] wperron commented on #868
Hey @beorn7 👋  We're in a similar situation, our case is pretty much exactly what you mentioned in the Otel collector; we have metrics coming from another system that we want to mirror to prometheus format to be used in the prometheusexporter. We have a [branch up on our fork](https://github.com/prometheus/client_golang/compare/main...Shopify:feat/exemplar_const_metrics) that adds support for exem

[2022-02-10 18:41] beorn7 commented on #868
If it's already in your fork, no harm in creating a PR. Ultimately, this needs to be decided by the maintainers of this repository.

[2022-02-12 14:28] fabxc commented on #981
I just ran into a similar issue due to the histogram sum being `NaN`. The spec is at least not very explicit about this being optional but certainly about it possibly being NaN. Is this worth clarifying? These metrics might be a first with this.

[2022-02-17 01:52] edipermadi opened #988 "CVE-2020-29652"
`github.com/prometheus/client_golang@v1.12.1` is indirectly including `golang.org/x/crypto@v0.0.0-20180904163835-0709b304e7931` which mark as vulnerable in https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/blob/master/go/golang.org/x/crypto/CVE-2020-29652.yml

dependency tree:
[code]

[2022-02-17 03:06] edipermadi commented on #988
Sorry, false positive, it was issue in gemnasium -> https://gitlab.com/gitlab-org/gitlab/-/issues/321081

[2022-02-17 03:06] #988 closed

[2022-02-24 09:45] Monis1 opened #990 "Remove github.com/gogo/protobuf@v1.1.1, as it is an vulnerable dependency."

[2022-02-24 19:52] beorn7 commented on #990
github.com/gogo/protobuf@v1.1.1 has only been used accidentally for a very short time window, which is long ago.

Certain intricacies of Go Modules still make it show up in `go.sum`, but no gogo/protobuf code is used.

[2022-02-28 08:07] #990 closed

[2022-03-01 09:35] srenatus commented on #981
Thanks for pointing that out. We've done some steps to avoid using anything but jsonpb on the relevant objects, [here](https://github.com/open-policy-agent/opa/blob/9afdad79199d90d4f960995a69068b8c68fbcf01/internal/prometheus/prometheus.go#L131-L138), resolving the issue @tsandall reported initially. (We collaborate on OPA, which is where this came up recently.)

[2022-03-04 11:20] bwplotka opened #993 "Add `ScrapeAndCompare` utility"
See https://github.com/kubernetes/kubernetes/pull/108277

Ideally we have method for comparing expected output with HTTP scrape, or at least body response form scrape.

Optionally:
* We could also learn from utils https://github.com/kubernetes/component-base/blob/master/metrics/testutil/testutil.go#L48 and add some of them to client_golang

cc @kakkoyun @saswatamcode

[2022-03-04 11:22] prymitive opened #994 "go metrics are tightly coupled with used go version"
I've upgraded from Go 1.17.7 to 1.17.8 and I've noticed that exported metrics labels changed as a result.
le label on some histogram uses now different values than it used to:

[code]

It's not a huge problem but it makes it harder to compare metrics between 2 instances of the same service compiled with different Go version. This is likely related to #967

[2022-03-04 11:25] prymitive opened #995 "Invalid le label value on go_gc_pauses_seconds_total_bucket"
Reporting https://github.com/prometheus/client_golang/issues/967#issuecomment-1028850776 as a separate issue so it won't get lost

`go_gc_pauses_seconds_total_bucket` ends up with a negative `le` bucket and a `NaN` value for `go_gc_pauses_seconds_total_sum`
[code]

[2022-03-04 11:36] bwplotka opened #996 "Add smart diff to testutil.GatherAndCompare family of utilities."
Currently, it's much better to just use `require.Equal` from testify to compare outputs of scrape, since it gives nice diff:

[code]

If I do this with our compare, it is huge unreadable blob without diff ): Just `got, want`. Let's improve experience here!

[2022-03-04 11:43] sourikghosh commented on #996
@bwplotka  Can I pick this issue?
which test files do you want me to apply this change to?

[2022-03-04 18:13] sazary opened #997 "Any reason we don't have CounterVecFunc & GaugeVecFunc?"
Hi

I noticed that this package provides, for example, `GaugeVec` and `GaugeFunc`, but it doesn't provide anything like `GaugeVecFunc`, which would gather a bunch of gauges whose value would be determined at collect time.

I think I need something like this in my use case, and since it's not provided in this package I started to implement it myself. But then I wondered whether there is a reason th

[2022-03-07 10:21] vtolstov commented on #945
Does this help in this situation:
1. i have framework that have ability to create meter instance with name and labels
2. each meter have ability to inc/dec/set
3. in the code i can create two counter with the same name but different labels like:
- some_metric1{label1="value1"}
- some_metric1{label2="value2"}

[2022-03-09 13:32] prymitive opened #999 "Allow passing timeout parameter in Prometheus queries"
Prometheus HTTP API allows to pass `timeout` parameter for queries: https://prometheus.io/docs/prometheus/latest/querying/api/#instant-queries but API doesn't allow to pass it.
One easy way would be to add a new parameter to Query and QueryRange but that would be incompatible.
Another way could to to check if passed context has a deadline and set a timeout smaller than that deadline, like:

[code]

[2022-03-16 09:10] kakkoyun commented on #999
I would rather prefer to use an explicit parameter to the function, since it's already part of the HTTP API.

Also as a side note, we can consider using functional optional parameters for the httpAPI since we don't provide stability guarantees for this package we have the liberty to change things to make it more elegant.

[2022-03-17 03:35] zhijian-pro opened #1004 "When prefix is empty, no more dots should be written"
When prefix is empty, no more dots should be written
https://github.com/prometheus/client_golang/blob/868ec2137f6748fea08e345af668655c4c9e26ce/prometheus/graphite/bridge.go#L200-L207

[2022-03-17 03:36] zhijian-pro commented on #1004
Looks like a bug, I'd love to fix it

[2022-03-17 04:32] JosephWoodward commented on #999
I agree, seems like the clearest, least surprising approach from a client usability perspective. I also agree that functional options pattern for these types of optional parameters seems a reasonable approach (is the pattern used anywhere else in the client's public API?)

I'm happy to pick this one up.

[2022-03-17 06:56] kakkoyun commented on #999
@JosephWoodward Not right now. Client for HTTP API is the best place to start introducing it. It still in alpha stage.

Please go ahead.

[2022-03-17 15:43] #1004 closed

[2022-03-17 18:33] lambdanis opened #1008 "runE"

[2022-03-17 19:37] kakkoyun commented on #1008
?

[2022-03-17 19:38] kakkoyun commented on #1008
@lambdanis ?

[2022-03-17 19:47] kakkoyun commented on #994
@prymitive Thanks for opening the issue.

The raw metric values of a histogram haven't designed to be compared. Expectation is to use PromQL queries to handle the calculations. The buckets are dynamically generated, and this is expected.

I don't see any action items here, do you have any suggestions?

[2022-03-17 19:51] kakkoyun commented on #995
I guess there's a legitimate answer to that in the same thread by @mknyszek  https://github.com/prometheus/client_golang/issues/967#issuecomment-1029260834

That being said, we could consider an absorbing the negative values here.

[2022-03-17 20:02] lambdanis commented on #1008
gosh, sorry, I don't know how that happened :flushed:

[2022-03-17 20:02] #1008 closed

[2022-03-17 21:09] prymitive commented on #994
If buckets are dynamically generated then is it possible to get different set of buckets on each scrape?
Is this going to introduce metrics churn if there’s enough variance between gc runs?

[2022-03-19 14:52] wmf508 opened #1011 "How to parse the query result, it seems like only provides Type and String"
I want to iterator result from query, but it's a string, so, i need to handle it by myself?

 `result, warnings, err := cli.api.Query(context.TODO(), "kube_node_status_condition{condition=\"Ready\"}", time.Now())
	if warnings != nil {
		log.Printf("warning: %v", warnings)
	}

	if err != nil {
		log.Printf("warning: %v", err)
	}

	log.Printf("result: %v", result)`

[2022-03-23 01:15] rhim opened #1012 "Cyclic dependency in packages is leading to use of vulnerable packages"
To address the following vulnerability that exists in associated package
[code]

we need to address client_golang and common's cyclic dependency, which is as follows:

[code]

Can someone suggest a way to remove this cycle?

[2022-03-25 08:06] pdf commented on #884
Still desirable for consistency.

[2022-03-25 08:19] SuperQ commented on #884
I spun up a new exporter and noticed that the default registry now has 124 metrics. It would be nice to have a "light" mode that doesn't include a lot of the excessive details for simple exporters.

For example, I don't really need these two detailed histograms most of the time. But it would be nice to have a flag to enable them.

[code]

[2022-03-26 20:00] 08d2 commented on #994
I think this metric comes from [runtime/metrics](https://pkg.go.dev/runtime/metrics), and the [Float64Histogram](https://pkg.go.dev/runtime/metrics#Float64Histogram) type states

Which I guess implies the buckets can change from instance to instance. Which I guess means it's not actually appropriate to model as a Prometheus histogram, which expects bucket definitions to be more or less static?

[2022-03-27 14:01] prymitive commented on #1011
You need to cast `result` to `model.Vector` (https://pkg.go.dev/github.com/prometheus/common/model#Vector) for instant queries or `model.Matrix` (https://pkg.go.dev/github.com/prometheus/common/model#Matrix) for range queries.

[code]

[2022-03-27 18:22] bwplotka commented on #834
I think I like the soluton proposed by @stone-z  - can't see any harm in adding those. PTAL everyone for this (: (cc @kakkoyun )

[2022-03-28 05:40] JosephWoodward commented on #999
I've started on an initial draft PR [here](https://github.com/prometheus/client_golang/pull/1014/files)

[2022-03-28 12:17] kakkoyun opened #1015 "Add guidelines for adding new dependencies"
- Add a CI check

cc @bwplotka

[2022-03-28 12:18] kakkoyun opened #1016 "Reduce the number of transitive dependencies"
cc @bwplotka

[2022-03-28 12:25] bwplotka commented on #994
I think this is ineed problematic. Let's find a solution to this - it would be ideal if we have static buckets incorporated. This can impact cardinality a lot here.

[2022-03-28 12:25] bwplotka commented on #994
cc @mknyszek for awareness.

[2022-03-28 15:47] mknyszek commented on #994
The buckets changed because I discovered they were *very* incorrect. I don't expect this to happen often (or again, even). See golang/go#50732.

[2022-03-28 15:52] mknyszek commented on #994
But, yes, the API is specified such that the buckets can change. If that doesn't work for Prometheus, then the bucket-choosing algorithm needs to pick its own buckets on the Prometheus side and aggregate the runtime/metrics buckets into them, with some error.

This is somewhat surprising to me because these histograms (at least on the runtime/metrics side) are intended to be used to look at and co

[2022-03-28 16:09] MikeSpreitzer commented on #796
Sorry, I have been swamped, but this is still an active issue.  I have two additional thoughts.

I realized that what is going on here is _not_ that I want high frequency sampling, that was just an approximation.  For each one of these histograms, it is about observing a variable that changes at times that are very difficult to characterize.  What I actually want is to know how much time, cumulati

[2022-03-28 16:59] 08d2 commented on #994
How can histograms with disparate bucketing be meaningfully aggregated and compared?

[2022-03-28 20:25] samsondav opened #1017 "`Gather` does not include CounterVec unless it has had `WithLabelValues` called"
If I register as such:

[code]

Then only `simple_counter` is included in the metrics. `simpleCounterVec` is ignored. I know it has been registered because calling `MustRegister` panics.

I would expect all prometheus metrics to be included in the result of Gather, both regular counters and vector counters.

[2022-03-29 02:46] MikeSpreitzer commented on #796
@beorn7 , https://github.com/prometheus/client_golang/blob/8dfa334295e85f9b1e48ce862fae5f337faa6d2f/prometheus/histogram.go#L615-L616 is a surprising exclusion.  I would normally expect to be able to deliver counts for over-the-top values.

[2022-03-29 02:48] MikeSpreitzer commented on #796
.. or is that possible by just including them in https://github.com/prometheus/client_golang/blob/8dfa334295e85f9b1e48ce862fae5f337faa6d2f/prometheus/histogram.go#L622-L623 ?

[2022-03-29 13:24] bwplotka commented on #1012
Yea I think there is no other way than trying to copy a code around to not import one on another. I don't know what common is importing from client_golang, but it might make more sense to get rid of client_golang usage of common - meaning to copy data model from it.

[2022-03-29 17:54] beorn7 commented on #1012
The vulnerable package is not actually used. It's just part of the graph due to the way the Go Modules dependency solver works. The cyclic dependency between _modules_ is allowed (as long as there are no cyclic dependencies between _packages_). The bug is in the security scanner, not in prometheus/client_golang.

I don't think we should invest efforts into solving it here (if it is possible at all

[2022-03-29 17:56] beorn7 commented on #1017
An empty vector on its own isn't producing any metric yet. Without any known label values, how should such a metric look like?

[2022-03-29 18:00] rhim commented on #1012
How to prove definitively that package isn’t used?

The vulnerability scanner is indeed going off go mod graph output. They would need to be told how to fix the issue.

***@***.***
about.me/rajhimanshu
________________________________
From: Björn Rabenstein ***@***.***>
Sent: Tuesday, March 29, 2022 10:54:32 AM
To: prometheus/client_golang ***@***.***>
Cc: Himanshu Raj ***@***.***>; Author ***@***

[2022-03-29 20:17] samsondav commented on #1017
We want a way to export all metrics so that it could be easily seen by a consumer which metrics are available.

Perhaps we would need to implement a custom `Register` that wraps the `DefaultRegisterer` ?

[2022-03-31 15:48] beorn7 commented on #796
Yes, the count and sum include all observations. The `+Inf` bucket is by definition equal to the sum and therefore redundant.

[2022-03-31 17:54] beorn7 commented on #796
About the bigger topic here:

I see what you are doing. That's really interesting. I think this will result in a Histogram with the interface of a Gauge. A Gauge can be set and can be added to, and under the hood, it would count the duration the Gauge value was in each bucket. It could even take into account the precise duration for the most current value at scrape time.

If the changes of the Gau

[2022-04-06 16:45] rcousineau-xandr commented on #1012
I was running into this as well... there are several closed issues on this repo + some closed issues on the prometheus/common repo too.

Linked to one of them was this pr: https://github.com/wavesplatform/gowaves/pull/678/files

I followed what they did in their project and added `exclude github.com/gogo/protobuf v1.1.1` to my go.mod and that fixed it.

[2022-04-06 19:19] dohnto opened #1020 "TCP Reset breaks connection without a retry"
# My setup
We run a Grafana which queries Prometheus. Inbetween Grafana and Prometheus, there is a Google Cloud Load Balancer L7 which terminates SSL:

# Issue
Grafana user opens a dashboard and Grafana opens a long running TCP connection. Rarely we observe a TCP Reset sent by the Load Balancer, which Grafana displays to user as 5xx error. The request **is not retried**.

# Background

Grafana uti

[2022-04-07 07:03] dohnto commented on #1020
This is the related code which decides, whether a request is idempotent https://github.com/golang/go/blob/eca0d44cec58951fb716e540dcc21c0f527686d5/src/net/http/request.go#L1420-L1433

[2022-04-08 17:24] dashpole opened #1023 "Support constant histograms without a sum"
Context: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9120.  The OpenTelemetry has a prometheus exporter, which behaves similarly to a federated prometheus endpoint.  It uses the `NewConstX` functions to expose metrics on the endpoint.  OpenMetrics [requires](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9120) the `_sum` metric point to be omitted

[2022-04-11 06:35] MikeSpreitzer opened #1024 "Extensions need more exemplar support"
I am working on some histogram extensions in https://github.com/kubernetes/kubernetes/pull/109277 , and have run into a couple of blockages regarding examplars.

(1) constHistogram (https://github.com/prometheus/client_golang/blob/29e8191aff2174cb56888658b4afd6a7940a9b3e/prometheus/histogram.go#L570) does not support exemplars.

(2) once it does, I may need to call the private function `newExempla

[2022-04-11 08:37] yolossn commented on #932
@kakkoyun I have raised a PR based on the solution shared in the issue description.

[2022-04-11 16:05] chancez opened #1026 "New GoCollector metrics in 1.12 do not pass `promtool check metrics` lint"
Using git tag  v1.12.1, if we run `promtool check metrics` on our metrics we get the following failure:

[code]

It seems that new metrics were potentially introduced in https://github.com/prometheus/client_golang/pull/955

I also filed https://github.com/prometheus/prometheus/issues/10574 before realizing these are new metrics as part of a library upgrade, though it still seems useful in general.

[2022-04-12 10:09] bwplotka commented on #1024
Thanks for this report, but I think it's already implemented. Merged recently with https://github.com/prometheus/client_golang/pull/986

See how to use it here: https://github.com/prometheus/client_golang/blob/main/prometheus/examples_test.go#L601

I will close it for now, but feel free to comment if you think it's should be reopened (something is missing?). Cheers!

[2022-04-12 10:09] #1024 closed

[2022-04-12 10:12] bwplotka commented on #1026
Hmm, those are indeed histogram metrics, which are derived from `runtime/metrics` - thanks for pointing.

I would really consider renaming it now, given it's a fresh change (but this will break some compatibility though). Let me look on it.

[2022-04-12 10:21] bwplotka commented on #994
Yea, I think we already extrapolate buckets to have less of them, so the easiest thing is to extrapolate to stable buckets (A). Moving to summaries is not bad either, just have some instrumentation overhead, plus it is harder to use later on  (not [aggregatable](https://prometheus.io/docs/practices/histograms/#)) (B)

We could do A and hope for better histograms in Prometheus (feature that should

[2022-04-12 11:35] beorn7 commented on #994
Summaries are not aggregatable, indeed, but that might not be so bad in the case of GC (where I assume you are mostly interested in individual processes, not necessarily many in aggregate). But Summaries also have static precalculated quantiles, which you cannot change in retrospect. (E.g. they are always the 99th perc, 90th perc, and median over the last 10m. If you later decide you would like to

[2022-04-12 11:48] bwplotka opened #1030 "Move collectors to different package (v2)"
Reason:

* Concise and focused package, clear boundaries and ability to extend options (currently there is no way to add more options to collector WITHOUT creating more deprecated code).

We can't do it in v1, because we would need to break compatibility. Something for v2.

![image](https://user-images.githubusercontent.com/6950331/162953164-01014314-2b95-4825-b570-c47828204ca1.png)

Attempt: http

[2022-04-12 13:44] bwplotka commented on #981
Thanks all. Sounds like this issue can be closed here. Let us know if this is not indeed resolved, we will reopen. 👍🏽

[2022-04-13 05:42] kakkoyun commented on #1020
@dohnto Could you please confirm this is fixed with #1022 ?

[2022-04-13 08:55] #983 closed

[2022-04-13 09:12] dohnto commented on #1020
@kakkoyun Give me some time to verify this in production. I am trying to communicate with our teams, whether it would be possible to include this library from master branch rather than a release.

[2022-04-13 15:41] MikeSpreitzer commented on #1024
Thanks.
Now I need this to appear in a release.

[2022-04-13 17:38] #996 closed

[2022-04-13 18:00] bwplotka commented on #967
Hi All.

With new optionality, I would propose reverting the addition (by default) of new metrics. Please voice your opinion here: https://github.com/prometheus/client_golang/pull/1033

[2022-04-13 18:43] #967 closed

[2022-04-14 23:30] cstyan commented on #834
Just ran into a situation where I need this. Nice to see a PR already open, thanks @stone-z and @bwplotka / @beorn7 for reviewing.

[2022-04-19 12:26] kakkoyun commented on #1012
@mrueg this is fixed, right?

[2022-04-21 01:00] mrueg commented on #1012
I believe so, at least the cyclic dep is gone for now and naive vuln scanners should not create false positives anymore.

[2022-04-21 05:17] kakkoyun commented on #1012
@mrueg Thanks again for taking care of it.
Fixed by #1027

[2022-04-21 05:17] #1012 closed

[2022-04-21 05:23] #999 closed

[2022-04-21 06:16] andig commented on #981
This is a real problem, popular monitoring solutions like InfluxDB currently choke on `NaN` values (see linked issue). It is very unfortunate to exploit a sofar-unused property of the spec in a bugfix release.

Would it be reasonable to ask to make this behaviour opt-in to allow for gradual upgrade path? Otherwise we'll be stuck on 1.20.0 until downstream is able to copy with `NaN`s.

[2022-04-21 22:37] josephwoodward opened #1034 "API Tests do not appear to verify request parameters"
Whilst working on [updating the Query API to support timeouts](https://github.com/prometheus/client_golang/pull/1014) I noticed that the API tests [do not currently verify the request parameters](https://github.com/prometheus/client_golang/blob/main/api/prometheus/v1/api_test.go#L69-L92) against the `reqParam` type [configured as part of the test](https://github.com/prometheus/client_golang/blob/m

[2022-04-25 10:19] kakkoyun opened #1036 "API: Add documentation for API config options"
At first glance I thought this would set the context timeout. I think there should at least be a documentation comment saying what the intended behaviour is.

_Originally posted by @bboreham in https://github.com/prometheus/client_golang/issues/1014#issuecomment-1107807524_

[2022-04-25 11:24] JosephWoodward commented on #1036
@kakkoyun Feel free to assign this one to me, I missed the docs on my previous PR.

[2022-04-25 11:47] aureliar8 commented on #997
This discussion seems to answer your question: https://github.com/prometheus/client_golang/discussions/924

TLDR: You can create a custom Collector to get the same functionality and the package already has a lot / too much exported types.

[2022-04-26 16:03] beorn7 commented on #997
Yeah, https://github.com/prometheus/client_golang/discussions/924 is precisely the right place for this discussion. Thank you.

[2022-04-26 16:03] #997 closed

[2022-04-26 16:17] beorn7 commented on #834
Since #1013 is merged, we can close this, right?

[2022-04-26 16:17] #834 closed

[2022-04-27 04:05] agnivade opened #1038 "nil pointer dereference in prometheus/histogram.go"
We have received the following stack trace from Sentry.

[code]

The code is from this commit: https://github.com/mattermost/mattermost-server/tree/0077fb2b04feeb5425dced76b633393b8a4ea2d0

Library version is at 1.11.0.

Let me know if you need anything else.

[2022-04-27 08:40] stone-z commented on #834
Yep this is done. Just waiting for release now

[2022-04-28 13:05] kakkoyun commented on #1034
Feel free to address it. Anything improves the quality assurance is much appreciated :)

[2022-04-28 16:02] RichiH commented on #135
For future reference, we touched on this during today's dev summit, 2022-04-28 https://docs.google.com/document/d/11LC3wJcVk00l8w5P3oLQ-m3Y37iom6INAMEu2ZAGIIE/edit#

[2022-04-29 05:34] #1036 closed

[2022-04-29 14:01] bwplotka commented on #896
No. I did not XD but did not try much... this has to be experimented with

[2022-04-29 15:19] PhilipGough commented on #896
@saswatamcode - this may be of interest to you since you have done something similar in https://github.com/observatorium/obsctl/ recently I think :)

[2022-04-30 03:48] metonymic-smokey commented on #884
So, from what I understand, two new flags are needed:
1. as @pdf suggests, one to disable all default metrics, for consistency with exporter-toolkit.
2. as @SuperQ suggests, one to selectively turn on some metrics.

Please let me know if I missed something, trying to understand.
Thanks!

[2022-04-30 12:47] andig commented on #981
@bwplotka imho this is not resolved. Could you kindly reopen?

[2022-04-30 17:02] fly3366 commented on #995
Calculate quantile need bucket include Inf, but main branch has exclude Inf. So quantile return NaN. if someone need a patch, I will pr.

[2022-04-30 18:11] bwplotka commented on #981
Ack, in new release (to be done) we reverted new metrics by default, so it should be fixed for you.

Still the underlying problem stays so let's keep it open then

[2022-05-02 06:24] kakkoyun commented on #995
@fly3366 Feel free to contribute. The contributions are always welcome :hugs:  Please note we have reverted new enabling new collector by default and this is a bug in that. See #1033. There are several other issues we need to take care of for the new collector, so again help is very much appriciated.

[2022-05-03 10:34] bwplotka opened #1042 "Improve Exemplar Interface"
Using exemplars is quite painful currently. There is a common pattern you want to do such as:

![image](https://user-images.githubusercontent.com/6950331/166437996-a13ecf5d-96df-4b48-b374-73b149bd0455.png)

I would propose something more natively supported. Some options:

A) Bring `ObserveWithExemplar` to `Observer`, why not?
B) Create a separate package that creates natively observers with exempl

[2022-05-03 10:48] beorn7 commented on #1042
Because it changes the `Observer` interface. It breaks everyone who has implemented the `Observer` interface outside of our control (most commonly, I guess, when creating mocks for testing, but there might be other use cases). And yes, this might be a fairly niche part of the user community, but since this package is used so widely, it will still create a fair amount of breakage and confusion and

[2022-05-03 10:52] beorn7 commented on #1042
The other approaches are all valid options, I think. I would just generally suggest to put helpers into a separate package. My experience from the past is that users get really confused and frustrated if a package has too many top-level types. It's a lot of cognitive load when learning how to use the package. Therefore, I had spent a lot of effort in the past to reduce the number of top-level type

[2022-05-03 13:51] kakkoyun commented on #1042
I would also vote for a dedicated package to contain new helper functions around exemplars. We can even have high-level interface that would conform span/context from popular tracing packages or OTel. (I haven't checked their types if it's even possible `IsSampled` and `TraceID` seems like good candidates for that imagined interface). What do you think?

[2022-05-04 09:31] yolossn commented on #1038
@agnivade Looks like the implementation of  `(*MetricsInterfaceImpl).ObserveStoreMethodDuration` is not publicly available. Can you share the implementation to reproduce the issue ?

I am getting a 404 on this URL.
https://github.com/mattermost/mattermost-server/blob/0077fb2b04feeb5425dced76b633393b8a4ea2d0/enterprise/metrics/metrics.go

[2022-05-04 19:47] #1020 closed

[2022-05-05 03:49] agnivade commented on #1038
Hi @yolossn - Unfortunately, I cannot share the code due to legal reasons. It belongs in our enterprise repo. But it's just a one line method which goes something like `histogram.With(..).Observe(...)`, where histogram is a `*prometheus.HistogramVec`.

[2022-05-05 05:46] kakkoyun commented on #1020
There will be a release soon, we need to take care of several issues first. Unfortunately, there's no fixed release cadence for the project.

[2022-05-06 01:04] JosephWoodward commented on #1034
@kakkoyun I've made a start on ensuring the tests cover the request parameters [here](https://github.com/prometheus/client_golang/pull/1047).

[2022-05-09 08:33] #1026 closed

[2022-05-13 08:04] #981 closed

[2022-05-13 08:06] kakkoyun commented on #995
Fixed with https://github.com/prometheus/client_golang/pull/1049

[2022-05-18 21:18] bwplotka commented on #854
https://github.com/prometheus/client_golang/pull/1055

[2022-05-25 19:58] nicolaasuni opened #1058 "Race condition in v1.12.2"
After upgrading to github.com/prometheus/client_golang v1.12.2 I can consistently observe a race condition in our tests.
This issue does not happen with the previous versions.

I am using:
- `go version go1.18.2 linux/amd64`
- `Linux **** 5.4.0-113-generic #127-Ubuntu SMP Wed May 18 14:30:56 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

 The errors can be reproduced by using the open source library:

[2022-05-31 07:21] #936 closed

[2022-05-31 15:11] #995 closed

[2022-05-31 15:45] kakkoyun commented on #1058
Thanks for reporting. We will have look at it soon.

[2022-06-02 08:55] joewreschnig opened #1060 "Please expose `wrappingCollector` publicly"
We have a number of custom collectors that wrap other collectors - e.g. some cached value is periodically refreshed, where we want to collect metrics about the last refresh time, and also metrics about the value itself.

Currently for the outer collector to add a label or metric to the inner collector, we either need to reimplement `wrappingCollector` ourselves, or we need to also apply the labels

[2022-06-10 13:11] importhuman commented on #977
Hey @kakkoyun, can I take this up?

This is basically changing the methods to return parsed data instead of `[]byte`, or something else?

[2022-06-10 17:20] bboreham commented on #977
The current code calls `h.client.DoGetFallback()` which returns a `[]byte`, via `bytes.Buffer.ReadFrom()`.
(This call is made in multiple places, for each different API method).

My idea was to parse JSON from `resp.Body`, and not create the buffer.

[2022-06-14 16:41] importhuman commented on #977
The `[]byte` is being returned by a `Do` method [in client.go](https://github.com/prometheus/client_golang/blob/f63e219e6b9074f8a55c8475e7b11720bdfc3737/api/client.go#L96). Did you mean changing this method to just return the response and not return `[]byte` (and consequently wherever changes are required), or did I go too deep?

Full flow through which I reached here: [DoGetFallback](https://gith

[2022-06-15 09:57] totorolee opened #1065 "Pushgateway support JWT Auth"
Pushgateway supports basic auth, it's good but not enough. JWT is in common use when authenticating, I thought it should be added as the auth feature. If pleasure, I could implement it.

[2022-06-18 22:56] #824 closed

[2022-06-18 22:56] #887 closed

[2022-06-20 13:42] kakkoyun commented on #977
I think we need to check the codebase for this.

If the result of this method is always consumed as JSON, we should unmarshal once and as early as possible.

In any case, we should do this by introducing a new method and marking older methods as deprecated. We can remove them with v2.
In this way, we can make sure we don't break compatibility for external consumers.

[2022-06-20 16:09] bboreham commented on #977
The main API is methods like:

[code]

this returns structured data, not JSON.

My proposal is to change how we arrive at the structured data.

No public API needs to change to achieve this.

[2022-06-22 12:51] dnwe opened #1070 "released tag v1.12.2 doesn't appear to exist on the main branch?"
Whilst looking at a race condition on v1.12.2 I happened to notice that the release tag v1.12.2 doesn't exist on the main branch and appears to live on a release-1.12 branch that has diverged:
https://github.com/prometheus/client_golang/tree/v1.12.2

Is that intentional?

[2022-06-22 13:09] dnwe commented on #1058
@kakkoyun FYI, with a quick bisect on the release-1.12 branch since v1.11.0 (which was fine), this race seems to have been originally introduced by 22da949 (https://github.com/prometheus/client_golang/pull/955) and was then fixed by various race condition improvements that were included in v1.12.1 (which was then passing). Up until d498b3cdd90d3ef23c85e96ced33035cc6013739 the branch was still pass

[2022-06-22 13:35] kakkoyun commented on #1058
@dnwe Thanks for the detailed investigation. I haven't had much time to focus on this. I'll do my best.

However, help is always welcome. If anyone has a clear fix, please go for it.

[2022-06-23 06:22] kakkoyun commented on #1070
Yes, it is intentional. We create a release branch and tagged the versions there if we need to cherry-pick commits from the main branch.

https://github.com/prometheus/prometheus/blob/main/RELEASE.md#branch-management-and-versioning-strategy

All the relevant changes should be on the main as well. Do you see any missing changes on the main?

[2022-06-23 18:28] rodoufu opened #1071 "What is the cost of calling the metrics endpoint?"
What is the cost of calling the metrics endpoint?

Does it calculate the value of the metrics when we call the endpoint or when the metrics are updated?

[2022-06-25 14:33] nevesgustavo opened #1072 "Dynamically add labels in a Counter or CounterVec"
Hi Team,
I hope you are having a good weekend, I would like to have an information about CounterVec, is there a way to dynamically add Labels inside an already registered metric?

For example:

Creating a metric using two labels: status and environment
[code]

But when the status is error I would like to add one more label: reason, to the same metric and it's not possible

[code]

Just to explain

[2022-06-29 09:12] cristiangreco commented on #1058
@bboreham is right that this is a false positive, reproduced and reported upstream [here](https://github.com/golang/go/issues/53542).

[2022-06-29 09:15] kakkoyun commented on #1058
Thanks, @bboreham and @cristiangreco verifying this. Closing it now.

[2022-06-29 09:15] #1058 closed

[2022-07-01 09:14] LeGamerDc opened #1077 "Hope we could set ConstLabels for go_collector"
we need to tags our metrics to tell apart from other process.

[2022-07-07 14:53] kjgorman opened #1082 "How to use `collectors.WithGoCollections(collectors.GoRuntimeMetricsCollection)`"
Hi there - I'm interested in attempting to enable the new `runtime/metrics` collector included in this package.

I can't quite see how to actually get this to work though - I was expecting to need to do something like this:

[code]

but this panics with a duplicate metric:

[code]

it seems related to the collector registered in an `init` function, [here](https://github.com/prometheus/client_golan

[2022-07-07 14:57] beorn7 opened #1083 "Tag and commit for v1.12.2 does not belong to any branch"
Sorry for touching the topic again, but I think this is actually a problem:

The v1.12.2 tag points to commit e203144f43306c1f344fbc548fd02c4b79962e30 , but this commit is actually not in any branch in this repo. If you go to the commit in the GH web UI, you get:
![image](https://user-images.githubusercontent.com/5609886/177802843-4cc6247a-1c76-4352-b846-ac349fe9fa89.png)

The problem is that you

[2022-07-07 16:17] bwplotka commented on #1083
As per https://github.com/prometheus/client_golang/pull/1079#issuecomment-1177872946 agree - sorry for the confusion.

[2022-07-07 16:42] beorn7 commented on #1070
It's ever trickier, see #1083.

[2022-07-07 17:03] #1070 closed, assigned to nobody

[2022-07-10 06:41] #915 closed

[2022-07-11 14:29] rogerogers commented on #1082
You should init a registry first
like this
[code]

[2022-07-11 19:24] kjgorman commented on #1082
I understand I could create a separate registry, but it still seems incorrect that registering to the default should be causing a duplicate metric panic when I've requested only to register new runtime/metrics metrics. i.e., I would expect this to be additive only.

[2022-07-12 07:35] kakkoyun commented on #1082
Hey @kjgorman, thanks for asking. I think @rogerogers has answered your question.

Maybe it's not clear from the message, you're trying to register already registered metrics again. As mentioned above, by default GoCollector is registered to the default registry.

You can also find an example over here https://github.com/prometheus/client_golang/blob/main/examples/gocollector/main.go

[2022-07-12 07:36] #1082 closed, assigned to nobody

[2022-07-12 12:00] beorn7 commented on #1083
The tagged commit is at least in the release-1.12 branch now.

@kakkoyun @bwplotka I leave it to you if you want to merge that commit into main, too. Some users will expect that (including me), but an argument could be made to not do it.

[2022-07-12 17:56] bwplotka commented on #1060
Hi, thanks for proposing this.

It sounds what you try to achieve is similar to our attempt here: https://github.com/prometheus/client_golang/blob/cache/prometheus/cache/cache.go

Do you mind providing us with more details? It might be useful to upstream that special collector if this will be useful for others!

Does it mean you want to change the `labels` passed to `WrapRegistererWith` dynamicall

[2022-07-14 05:12] geet opened #1087 "Prometheus metric handler is exposing 500 server error"
I have instrumented custom prometheus metrics from my application. I have configured prometheus to scrape the target. I have started seeing 500 error in the prometheus and due to that the scrape failed. I tried to manually hit the /metrics endpoint in my application and got the error saying

[code]

It works initially but after a few minutes I start seeing the error.

I don't think it should be co

[2022-07-15 12:20] SuperQ opened #1089 "Add option to control Go metrics in the default collector."
With client_golang v1.12.2, [we removed the `runtime/metrics` from the default collector](https://github.com/prometheus/client_golang/pull/1033).

But now it seems difficult to get these metrics back without having to abandon the default registry. This makes the use of `promauto` more cumbersome.

Some ideas:
* Add a default registry method to adjust what metrics features are enabled at build time

[2022-07-20 02:10] geet commented on #1087
Here is the code snippet I am using to provide prometheus handler with gofiber.
[code]

[2022-07-20 06:54] geet commented on #1087
The problematic metric is a custom GaugeVec registerd by the following code.
[code]
getLabels returns the labels supported.

I see the metric being collected fine for the first few scrapes and suddenly I start seeing 500 server error on the scrapes.

The error thrown is like this.
[code]

[2022-07-22 07:57] joewreschnig commented on #1060
Sorry, I think I wasn't clear about presenting my use case and it got confused with what I'm asking for. I don't want to cache metrics, and I don't want to change labels over time. I'm just using a cache (of some application-specific objects, not metrics) as an example of where we have nested `prometheus.Collector`s and I would like to use wrapped metrics.

**tl;dr:** If `wrappingCollector` (or `w

[2022-07-27 12:15] bwplotka commented on #1089
It is indeed unfortunate we cannot change the default registry Go collector to new metrics as registering another GoCollector would register base metrics. It's relatively easy to change it, but not sure it's worth it. We generally want to deprecate global registry (my opinion).

`promauto` is quite nice with custom registry. Just use `promauto.With(reg).New....`. I don't think 9 more characters ar

[2022-07-27 12:37] SuperQ commented on #1089
I all I really want to do is be able to toggle or update the filter on the GoCollector.

[2022-08-02 09:59] bwplotka opened #1101 "Document default registry being an anti-pattern."
Currently, we use it in all our examples: https://pkg.go.dev/github.com/prometheus/client_golang/prometheus

[2022-08-02 17:33] #854 closed

[2022-08-03 12:23] bwplotka commented on #1089
Let us know if that (https://github.com/prometheus/client_golang/pull/1102) will satisfy you @SuperQ  - I will add more details, even how to add it to defaultRegistry

[2022-08-05 14:28] kakkoyun opened #1106 "ci: Add a compatibility check for GopherJS"
ref #897

[2022-08-05 17:37] #1089 closed

[2022-08-09 18:15] beorn7 commented on #1101
I think it's fine for simple cases (like examples ;) but discouraged for more complex cases. If we make that clearer, we might be able to stick with simple examples.

[2022-08-10 16:41] reachlakstar opened #1114 "Yaml V2 Vulnerability"
FORTIFY is throwing Yaml V2 vulnerabilities, could you please migrate to new versions

[2022-08-10 16:42] reachlakstar commented on #1114
github.com/prometheus/common is using lower version

[2022-08-12 04:52] #926 closed

[2022-08-13 16:22] helloxjade opened #1116 "when i use api.Query ,get the err client_error: client error: 404,but i can't see the total url, and how can i to debug"

[2022-08-17 06:27] #1116 closed

[2022-08-18 18:04] hairyhenderson opened #1117 "bug: Metric is double-incremented in promhttp.InstrumentRoundTripperCounter"
It looks like v0.13.0 introduced a bug in `promhttp.InstrumentRoundTripperCounter` (from #1055, it appears).

Instead of replacing the `Inc()` call with a wrapped call to `exemplarAdd(...)`, the `Inc()` call was left in:

https://github.com/prometheus/client_golang/pull/1055/files#diff-7871a83741d29b5f29e3c47d1c284f948c258a0c6fc18895f0c2d4204cc46054R76-R81

The impact is that counter metrics are n

[2022-08-18 18:38] hairyhenderson commented on #1117
https://github.com/prometheus/client_golang/pull/1118 will fix this

[2022-08-18 21:30] itsmylife opened #1119 "Installing examples is not working anymore"
I am trying to install the examples with the command below:
[code]

but I am getting the following error:
[code]

This was working with the previous version:
[code]

I assume the changes introduced here https://github.com/prometheus/client_golang/pull/1062 are the reason. Especially this line:
https://github.com/prometheus/client_golang/blob/main/go.mod#L31

My Go Version:
[code]

[2022-08-20 21:41] josephwoodward commented on #1034
This can be closed as it's been [merged](https://github.com/prometheus/client_golang/pull/1047).

[2022-08-20 21:41] #1034 closed

[2022-08-22 05:28] kakkoyun opened #1120 "promhttp: Rename exemplarAdd"
Thinking loudly: I think the function name `exemplarAdd()` doesn't make it obvious the metric is incremented. Maybe renaming it to `addWithExemplar()` may clarify it?

_Originally posted by @pracucci in https://github.com/prometheus/client_golang/pull/1118#discussion_r949880884_

cc @hairyhenderson

[2022-08-22 05:28] #1117 closed

[2022-08-22 09:52] sally-langshuang opened #1121 "req.SetBasicAuth(username, password)"
https://github.com/prometheus/client_golang/blob/618194de6ad3db637313666104533639011b470d/api/prometheus/v1/api.go#L1174

[2022-08-22 09:57] kaustav-mondal commented on #1120
Hi @kakkoyun, may I take this up?

[2022-08-22 10:09] kakkoyun commented on #1120
I think @hairyhenderson is already on it.

[2022-08-22 12:21] hairyhenderson commented on #1120
Yup, I'm on this!

[2022-08-22 12:24] hairyhenderson commented on #1120
I've issued https://github.com/prometheus/client_golang/pull/1122 for this

[2022-08-23 12:12] beorn7 commented on #1119
Maybe we need the examples to use their own `go.mod`? But that might lead to weird situations…

Or we can reconsider the `exclude` directive? IIRC it was only added to silence buggy security scanners (that would be confused by the dependency resolution method of Go Modules when faced with circular dependencies).

[2022-08-24 05:00] kakkoyun commented on #1119
Both the strategies make sense.
With the new Go workspace features having different modules in a project should be rather easier.
Also, we might already have deprecated the need for the exclude, if I'm not mistaken we have bumped the minimum required Go version since then. And the issue was related to the older Go version. (I might misremembering things).

[2022-08-24 05:05] kakkoyun commented on #1114
Could you please point give references to vulnerabilities? We can check if the yaml v2 has the security patches we've missed.

Please keep in mind that, certain security scanners raise blanket issues as soon as they see a dependency. We need to check if we're affected.

[2022-08-24 05:06] kakkoyun commented on #1121
What's the issue here? Could you please elaborate on this more?

[2022-09-02 06:28] jan-dubsky opened #1124 "It's not possible to add GoRuntimeMetricsCollection to default registerer"
## Problem description

I'm using v1.13.0 that added example describing how to create a collector collecting `GoRuntimeMetricsCollection` (removed as default in v1.12.2). I try to achieve the same behaviour that has been default pre-v1.12.2. In other words, I want to add collector with `GoRuntimeMetricsCollection` to `DefaultRegisterer`. Unfortunately following attempt panics because of duplicate

[2022-09-02 08:35] jan-dubsky commented on #1124
There is an Example describing this: https://github.com/prometheus/client_golang/blob/v1.13.0/prometheus/collectors/go_collector_latest_test.go#L284

[2022-09-02 08:35] #1124 closed

[2022-09-06 15:23] beorn7 opened #1126 "histograms: Support exemplars in pure Native Histograms"
This depends on https://github.com/prometheus/client_model/issues/61 .

Exemplars can be added to the buckets of conventional histograms but not to native histograms. So far, the way of sending exemplars is by also rendering a conventional histogram. With the issue above fixed, we have a way of sending exemplars independently of conventional buckets. However, without conventional buckets, we don't

[2022-09-06 15:26] beorn7 opened #1127 "histogram: Find a way of marking a Native Histograms without observations as such"
It is a good thing if the format can expose the conventional and the native version of a histogram side by side. But if a native histogram has a zero threshold of zero and zero observations yet, it might easily look like it’s not a native histogram at all, so Prometheus might ingest it assuming it’s a conventional histogram, which gets weird once it has actually received observations and Prometheu

[2022-09-06 15:29] beorn7 opened #1128 "histograms: Refine strategies to limit the bucket count"
The prototype already has strategies to limit the bucket count of a Native Histograms. Vet them, and consider more strategies. For example, it might come handy to limit the overall bucket count in a `HistogramVec` or the overall bucket count in a registry.

This is P2 as explained in the [milestone's description](https://github.com/prometheus/client_golang/milestone/6). Once we are confident the e

[2022-09-06 16:44] beorn7 opened #1129 "histograms: Render a conventional histogram backed by a native histogram"
A Native Histogram can easily be exposed as a conventional Histogram, if need be in a lower resolution, maybe with configurable bucket selection.

Currently, conventional and native histograms are tracked separately from each other, which might be fine for some use cases. However, it also takes resources for each. Rendering a conventional histogram from the native histogram would have no added cos

[2022-09-06 16:48] beorn7 commented on #1129
Note that https://github.com/prometheus/prometheus/issues/11277 proposes explicitly configurable bucket boundaries in a Native Histogram with a custom bucket layout. This could be used to perfectly emulate any conventional Histogram. However, that's more attractive to use behind the scenes within the Prometheus server. Using it on the instrumentation side would only save a bit of resources for exp

[2022-09-07 18:14] beorn7 opened #1131 "histograms: Verify the handling of ±Inf observations"
The idea so far was to not put observations of `+Inf`, `-Inf`, and `NaN` into any bucket, but the [code](https://github.com/prometheus/client_golang/blob/95cf173f1965388665dcb2a28971f35af280e3a5/prometheus/histogram.go#L589-L590) doesn't seem to do that. (Also, that's just an idea so far, heavily underspecified…)

Using `math.MaxInt32` as the bucket index in the code above will create an overflow

[2022-09-07 18:49] beorn7 commented on #1131
@fstab FYI

[2022-09-12 09:58] dswarbrick opened #1132 "Test data in api/prometheus/v1/api_test.go overflows on 32-bit archs"
The millisecond-resolution Unix timestamps (i.e., JavaScript-style) in the new TSDBHeadStats struct introduced by #925 will overflow on 32-bit archs
[code]
A typical / recent Unix timestamp in millisecond resolution is approximately 760 times larger than a signed 32-bit int can hold.

The struct would need to be modified to use explicit int64 types, or if it is intended to be consumed by JavaScrip

[2022-09-16 12:26] dswarbrick opened #1135 "TestGoCollectorAllowList tests fail in v1.13.0 with Go 1.19"
The following tests fail in v1.13.0 and main branch (as of writing).
[code]

Tested with Go 1.19.1 on linux/amd64, running kernel 5.19.

I'm not sure how this got past Circle CI, assuming that it runs tests. The release notes state "we also test client_golang against the new 1.19 version", but this doesn't appear to be true:
[code]

[2022-09-16 13:02] dswarbrick commented on #1135
I presume that this test will need special handling for Go 1.17 / 1.18, and 1.19, as per the prometheus/go_collector_metrics_go1{17,18,19}_test.go files.

Specifically, Go 1.19 seems to expose four additional metrics:
- go_cgo_go_to_c_calls_calls_total
- go_gc_limiter_last_enabled_gc_cycle
- go_gc_stack_starting_size_bytes
- go_sched_gomaxprocs_threads

[2022-09-18 07:02] rogerogers commented on #1135
work fine with me on go1.18.6. some fail on 1.19.

[2022-09-18 13:44] dswarbrick commented on #1135
See my second comment. Updated title to avoid confusion.

[2022-09-18 13:48] dswarbrick commented on #1132
Does Circle CI support testing on 32-bit arch? If so, and it is enabled in the config, that would catch such oversights in future.

[2022-09-18 14:30] bboreham commented on #977
I've just noticed that the code calls the JSON parser twice to read each request.  Once in `apiClientImpl.Do:
https://github.com/prometheus/client_golang/blob/618194de6ad3db637313666104533639011b470d/api/prometheus/v1/api.go#L1140

and once in the individual API methods like `Query`:
https://github.com/prometheus/client_golang/blob/618194de6ad3db637313666104533639011b470d/api/prometheus/v1/api.go#

[2022-09-20 22:58] machadovilaca opened #1137 "Support for multiple samples within same metric 'NewMetricWithTimestamp'"
This might not even be considered a bug, but I think this is a very annoying behavior.

When using `NewMetricWithTimestamp` in a Collector as in:

[code]

The client is running [checkMetricConsistency](https://github.com/prometheus/client_golang/blob/main/prometheus/registry.go#L869) for each of the pushed metrics which is throwing the following error

[code]

I think the validation should be awar

[2022-09-20 23:35] rfratto commented on #945
I don't think this is needed anymore since #1103 was merged.

[2022-09-20 23:35] #945 closed

[2022-09-21 16:01] beorn7 commented on #1131
While int32 ranges from [-2147483648, 2147483647], we also have to accommodate the scenario where the smallest bucket index is followed by the largest one, i.e. the difference between the smallest and largest bucket index must be ≤2147483647.

For schema 8, the possible range for the bucket index is [-274944, 262144], so the max offset we'll see is 537088, way below the limits of int32.

However,

[2022-09-24 08:29] krasi-georgiev opened #1140 "How to avoid duplicate metrics collector registration attempted in parallel tests"
The code below panics for duplicate registration because by default golang runs tests in parallel.
The actual code would work since `New()` is called only once so wondering if there could be any workaround that can use for the testing.
I really want to avoid having to use a custom register.

[code]

[2022-09-26 12:39] mknyszek commented on #842
On the Go side, a replacement is currently in the Go tree for 1.20: direct CPU time metrics. Apologies for the delay.

[2022-09-27 11:53] Dean-Coakley commented on #1119
I've started taking a look at this issue to see if I can help.

1. I'm pretty new to workspaces. Should `go.work` be committed, or should I add an entry to `.gitignore`?
2. After I've made my changes how do I validate that I've solved the original issue?

[2022-09-27 11:57] Dean-Coakley commented on #1132
@kakkoyun Would you be open to accepting a change to change all fields in the `TSDBHeadStats` struct to be `int64`? Or do you have something else in mind?

[2022-10-04 17:04] beorn7 commented on #1131
After more discussion, here another approach:

With all our current schemas, `math.MaxFloat64` will end up in a bucket with an index well within what we can accommodate within the int32 range. If we simply define that index + 1 as the "infinity bucket", we'll get a relatively easy to handle dedicated bucket for infinity observations. In the many cases where no infinity observations happen, there w

[2022-10-04 21:53] sazary commented on #993
@bwplotka i think we can resolve this now

[2022-10-07 21:23] fstab opened #1145 "Race condition with Exemplar in Counter"
I found an inconsistent concurrency behavior in `client_java`, and I think that `client_golang` has the same issue. Here's the current implementation of the counter's `Write()` function:

[code]

Counter implements `selfCollector`. If I understand correctly, this means that the counter continues to be updated while `Write()` is being called.

So if an update happens after reading `val` but before

[2022-10-07 21:34] fstab commented on #1145
PR for the trivial fix. I hope I'm not missing anything #1146.

[2022-10-11 10:58] beorn7 commented on #1131
With https://github.com/prometheus/prometheus/pull/11418 and https://github.com/prometheus/client_golang/pull/1144 both merged, this is done.

[2022-10-11 10:58] #1131 closed

[2022-10-11 11:41] beorn7 commented on #1127
How about we require to add a no-op span (length zero) in this case? Those spans are legal, and will be compacted away, but we could use them as the ultimate marker for a native histogram (just for the special case of a histogram without any observations yet and a zero threshold of zero).

Thoughts @codesome @fstab ?

[2022-10-12 13:05] balintzs opened #1147 "Exemplar for `+Inf` bucket adds bucket with wrong value"
When writing histogram metrics, and there is an exemplar for the `+Inf` bucket, then the `+Inf` bucket is added with the value of the previous bucket:
https://github.com/prometheus/client_golang/blob/main/prometheus/metric.go#L188

This is incorrect, as the cumulative count of the `+Inf` bucket should instead be added with the total count of the histogram datapoint.

The above behaviour results in

[2022-10-12 13:11] balintzs commented on #1147
I'll open a PR shortly

[2022-10-13 10:28] bwplotka commented on #1147
Thanks! Approved fix with some small nit.

[2022-10-13 12:00] balintzs commented on #1147
Thanks for merging it, @bwplotka. When can we expect it to get released?

[2022-10-13 13:38] SuperQ commented on #1060
I have another possible use case for this.

We have a process worker pool controller. We'd like to use `collectors.NewProcessCollector()` to create a collector for each worker.

But that function needs to be wrapped with additional` `worker_pool` and `worker_id` labels.

So we'd end up with something like this:

[code]

Not sure if this is valid, but that's what we're in need of.

[2022-10-13 14:29] SuperQ commented on #1060
Nevermind, this turned out to be easier to do than I thought.

[code]

[2022-10-13 23:48] chancez opened #1149 "AddWithExemplar uses argument provided for exemplar value instead of counter's value"
Currently [`AddWithExemplar`](https://github.com/prometheus/client_golang/blob/a528affed905f64ed33ed2f52b7880ed7247f99e/prometheus/counter.go#L127-L130) uses the argument provided to set the value of the exemplar, not the counter's value.

If you are using `AddWithExemplar` as an alternative to `.Inc()`, the value you would be using is probably `1`, meaning your exemplars are always `1`.

I wonder

[2022-10-14 10:48] bwplotka commented on #1149
Yea, there is a bug here, thanks for noticing!

[2022-10-14 10:53] bwplotka commented on #1149
So I think it works as expected, feel free to comment if you don't think so, I will reopen.

[2022-10-14 10:53] #1149 closed

[2022-10-14 10:54] bwplotka commented on #1147
Can you just use commit sha for now? We will release soon, but don't know when (KubeCom + PromCon is coming)

[2022-10-14 10:54] #1147 closed

[2022-10-14 15:28] chancez commented on #1149
Does it make sense to have an option to use the value of the counter?

[2022-10-17 18:51] #1145 closed

[2022-10-20 10:32] codesome commented on #1127
And empty span seems like the least bad way to do it.

[2022-10-30 13:30] #949 closed

[2022-10-31 14:07] reimgun opened #1154 "go get -v github.com/prometheus/client_golang/prometheus does not work"
go version: 1.19.2

i receive the following error message on command:
`go env -w GO111MODULE=off;  go get -v github.com/prometheus/client_golang/prometheus`
[code]

here the full jenkins job output:

[code]

i have tried it also as recommended from go but this also not work:
[code]

[2022-10-31 16:49] Stoakes opened #1155 "Regression on InstrumentRoundTripperCounter between 1.12.1 & 1.13.0 ?"
Hello,

To begin with, thanks for this package. I use it in various project and it's been of great use.

I think I noticed a regression between `prometheus/client_golang@1.12.1` and `prometheus/client_golang@1.13.0`:
`InstrumentRoundTripperCounter` doesn't seem to count anymore.

[Here is a gist of a test which works fine with 1.12.1 and fails in 1.13.0](https://gist.github.com/Stoakes/23d6a2e323b

[2022-10-31 17:58] itisbsg opened #1156 "go get github.com/prometheus/client_golang/prometheus@v1.12.2 gives 503 service unavailable error"
Go Version:
go version go1.14.13 darwin/amd64

Error Message seen is:
go get github.com/prometheus/client_golang/prometheus@v1.12.2
go get github.com/prometheus/client_golang/prometheus@v1.12.2: github.com/prometheus/client_golang/prometheus@v1.12.2: reading https://gonexus.dev/github.com/prometheus/client_golang/prometheus/@v/v1.12.2.info: 503 Service Unavailable

[2022-11-01 18:39] bboreham commented on #1147
Note your link to the problem now shows the fixed code, because it references `main`.
You can get a fixed link by pressing 'Y' in the GitHub UI, e.g.:
https://github.com/prometheus/client_golang/blob/3faf3bae7076031e56adc1f76d0c2d817410597e/prometheus/metric.go#L188-L190

[2022-11-03 13:54] skeilson commented on #1020
@kakkoyun - any perspective on when this will be released? I see it was not included in the most recent prometheus/client_golang release (Nov 2).

[2022-11-03 15:20] bwplotka commented on #1137
Hey, I think his is not desired functionality, I am afraid. ):

Prometheus clients are optimized to present the current state (or last known state) of data to a potential collector/scraper/Prometheus. Even if we somewhat hack it to put multiple samples of the same series, Prometheus and other scrapers will most likely fail. In other words, you would need to propose a such a change to the https://g

[2022-11-04 10:28] machadovilaca commented on #1137
@bwplotka I was just checking the OpenMetrics standard specification. In the
[Gauge MetricPoint section](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#gauge-1), isn't what I proposed on of the use cases they show?

[2022-11-07 12:25] songjiayang opened #1159 "NativeHistogramBucketFactor not match right bucket"
I use main branch code with commit hash 5f202eefdb5dcb9b5b26d4d7c3351d1e5a0d9bc7 to test NativeHistogram feature，I set the NativeHistogramBucketFactor  to `math.Exp2(0.5)`, I really want use  `Schema 1` https://github.com/prometheus/client_golang/blob/main/prometheus/histogram.go#L44 buckets, but when I use Prometheus to collect data, find it use `Schema 2` buckets.

When I change the NativeHistog

[2022-11-07 12:53] beorn7 commented on #1159
That's probably a floating point precision issue. `math.Exp2(0.5)` is an irrational number and cannot be expressed precisely as a floating point number. Since NativeHistogramBucketFactor provides an upper bound for the actually used factor, the code chooses the schema with a higher resolution, presumably because the imprecise floating point comparison lets your provided factor appear slightly smal

[2022-11-07 12:53] #1159 closed

[2022-11-07 17:38] kakkoyun commented on #1020
@skeilson There will be a release. Hopefully this week.

[2022-11-07 17:42] kakkoyun commented on #1156
@itisbsg Could you please check your local environment settings? It seems like you are using a Go module proxy https://gonexus.dev/ and that proxy somehow doesn't work correctly.

[2022-11-07 17:42] #1156 closed

[2022-11-07 17:51] kakkoyun commented on #1154
@reimgun You're trying to `go get` a specific package. Please use `go get -v github.com/prometheus/client_golang`.

[2022-11-07 17:51] #1154 closed

[2022-11-07 17:57] kakkoyun commented on #1140
@krasi-georgiev By default, `promauto` uses the default registry and it's a package global. I would suggest you to create a new registry for each test cases.

[code]

[2022-11-07 17:57] #1140 closed

[2022-11-07 18:08] #1121 closed

[2022-11-07 23:14] #1135 closed

[2022-11-09 11:11] dswarbrick opened #1165 "TestSparseHistogram integer divide by zero on ppc64le"
Whilst updating the [golang-github-prometheus-client-golang](https://tracker.debian.org/pkg/golang-github-prometheus-client-golang) package in Debian, autopkgtest revealed that the `TestSparseHistogram` test panics with an integer divide by zero on ppc64el (ppc64le as GOARCH).
[code]
All other tested platforms (amd64, arm64, arm, i386, s390x) pass the test.

Since this may in fact be a Go compiler

[2022-11-09 21:53] davinci26 opened #1167 "Expose `canCollectProcess` to callers"
It would be helpful if we the caller had access to `canCollectProcess` to know in advance if they can use the `NewProcessCollector` in the OS.

[2022-11-10 21:17] beorn7 commented on #1165
Very interesting. It looks like `1 << 1` results in 0 on that architecture.

That would be very weird indeed.

Can anyone reproduce this? It would be a really nasty bug…

[2022-11-10 22:07] dswarbrick commented on #1165
The panic is reproducible with a vanilla git clone on a Debian ppc64el porterbox (https://db.debian.org/machines.cgi?host=platti).

I tested a tiny Go program which simply outputs the result of `1 << 1`, and it outputs 2, as expected.

If I comment out the "factor 4 results in schema -1" test, it also panics with divide by zero on the "factor 17 results in schema -2" test. Those seem to be the onl

[2022-11-10 22:31] dswarbrick commented on #1165
The following minimal snippet is enough to provoke the bug:
[code]
Execution:
[code]
It doesn't seem to matter what number we `Observe()`, and the panic occurs if `NativeHistogramBucketFactor` >= 4.

[2022-11-10 23:02] dswarbrick commented on #1165
@beorn7 The bitshift on line 635 in prometheus/histogram.go is indeed where it goes off the rails, but it's pretty weird:

I am able to reproduce with the following small tests:
[code]
[code]
Both of the above tests obviously pass (as expected) on amd64.

[2022-11-10 23:19] dswarbrick commented on #1165
And more from the "strange but true" department, `atomic.LoadInt64` behaves as expected:
[code]
[code]
`TestAtomicInt32` also passes if I cast to int64, e.g.
[code]
This has surely got to be a compiler bug.

[2022-11-11 09:53] dswarbrick commented on #1165
@beorn7 Both of your suggested methods pass:
[code]
[code]

[2022-11-11 12:54] reimgun commented on #1154
@kakkoyun

this doesn`t help:

root@866a2fe8fad6:/go/src/camunda-engine-prometheus-exporter# GO111MODULE=off go get -v github.com/prometheus/client_golang
github.com/prometheus/client_golang (download)
package github.com/prometheus/client_golang: no Go files in /go/src/github.com/prometheus/client_golang

[2022-11-11 12:59] reimgun opened #1169 "go get -v github.com/prometheus/client_golang/prometheus does not"
go version: 1.19.2

i receive the following error message on command:
go env -w GO111MODULE=off; go get -v github.com/prometheus/client_golang/prometheus

#15 28.71 ../github.com/prometheus/common/expfmt/decode.go:89:38: cannot use v (variable of type *io_prometheus_client.MetricFamily) as type protoreflect.ProtoMessage in argument to pbutil.ReadDelimited:
#15 28.71 	*io_prometheus_client.MetricFa

[2022-11-14 07:07] lusson-luo opened #1170 "Groups and labels do not allow keys with the same name"
Currently, group and labels cannot have the same name. If any key is displayed, an error message is displayed. `label:xxx already contains grouping label xxx`

The implementation here is very inflexible, for example I want to dynamically group by some label

There is no such judgment on the prometheus-python client; I recommend using the value of group if it exists

[2022-11-14 11:27] Flyalay commented on #1169
i have the same issue.

`# github.com/prometheus/common/expfmt
prometheus/common/expfmt/decode.go:89:34: cannot use v (type *io_prometheus_client.MetricFamily) as type protoreflect.ProtoMessage in argument to pbutil.ReadDelimited:
	*io_prometheus_client.MetricFamily does not implement protoreflect.ProtoMessage (missing ProtoReflect method)
prometheus/common/expfmt/encode.go:120:36: cannot use v (t

[2022-11-14 12:24] beorn7 commented on #1165
Then maybe it's not a compiler error but within the spec (requiring that all interactions with atomic variables have to happen via functions from the atomic package). Let me study this a bit more…

[2022-11-14 14:11] beorn7 commented on #1165
I tried something in https://github.com/prometheus/client_golang/pull/1171 .

(So far, I assumed setting atomic variables normally during initialization is fine. But perhaps not. Let's see…)

[2022-11-17 16:32] skeilson commented on #1020
@kakkoyun any chance of a timeframe for this to be released? I see v.1.14.0 was released on Nov 8th and it does not seem to include this PR.

[2022-11-19 19:23] machadovilaca commented on #1137
By the way, just tested this with the Python client, and it supports what I suggested

[code]

[code]

[2022-11-21 02:44] huyujie opened #1172 "multiple goroutines panic"
[code]
when concurrent PromQueryRange,ProClient.QueryRange panic,why?

[2022-11-21 02:02:51]
[2022-11-21 02:02:51 goroutine 638 [sleep]:]
[2022-11-21 02:02:51 time.Sleep(0x3b9aca00)]
[2022-11-21 02:02:51    /usr/local/go/src/runtime/time.go:194 +0x12e]
[2022-11-21 02:02:51 github.com/valyala/fasthttp.(*TCPDialer).tcpAddrsClean(0x1493740)]
[2022-11-21 02:02:51    /build/vendor/github.com/valyala/fa

[2022-11-21 08:21] huyujie commented on #1172
@bernerdschaefer @grobie @dgl @dlespiau

[2022-11-21 09:59] bwplotka commented on #1137
Client supports, but how do you want to consume it? Do you plan to use Prometheus or Prometheus-like scraper?

[2022-11-21 10:02] bwplotka commented on #1137
You got me with OM statement: https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#metric-types-1

Again, what's your use case? Why you want this done? (:

[2022-11-21 10:42] machadovilaca commented on #1137
I was planning to use Prometheus.
My use case is just a tool I am developing to help in creating and testing metrics/alerts. What I was looking for was the ability to quickly create multiple metric values in different timestamps in the last hour/day or so.

[2022-11-21 10:44] bwplotka commented on #1137
Please check how this is consumed by Prometheus. It's likely Prometheus just drops other samples, but let's see. Maybe there is some work to be done there. For 2-4 samples it's ok, but more than that on scale, the scrape will be simply too large.

Given OM supports it I think I might change my mind towards implementation here (:

[2022-11-22 02:30] huyujie commented on #1172
@beorn7

[2022-11-22 03:56] JayEkin commented on #1020
@kakkoyun

Do we have an ETA on the next release where the fix is included?
We are still seeing v.1.14.0

Thanks

[2022-11-22 13:03] beorn7 commented on #1165
Reponening as #1171 doesn't actually fix the issue. (It only addresses a potentially wrong usage, which I suspected to cause this, but the issue here is a different one – potentially a Go compiler bug.)

[2022-11-26 15:41] machadovilaca commented on #1137
They are

[code]

![Screenshot from 2022-11-26 15-41-02](https://user-images.githubusercontent.com/21959383/204096935-acd238f3-fac3-4f44-b262-196779e23e80.png)

[2022-11-28 13:27] bwplotka commented on #1137
Cool, thanks for checking. I think you convinced me (: We might want to go through other APIs too with @kakkoyun , but we can def reopen your PR if you still want to help make that work! https://github.com/prometheus/client_golang/pull/1142 - Can we please add some unit test too?

[2022-11-28 14:00] machadovilaca commented on #1137
I don't know if @Elecon-rou wants to proceed with it, if not I can open a new PR

[2022-11-28 14:10] Elecon-rou commented on #1137
@bwplotka @machadovilaca At least I'll try to add